{% load i18n %}
    <form id="notes-and-documents-form" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-row">
            {% for field in form %}
            <div class="col">
                {{ field }}
            </div>
            {% endfor %}
            <div class="col">
                <input class="btn btn-success" type="submit" value="{% trans 'Opret' %}"/>
            </div>
        </div>
        <div class="form-row mt-2 mb-2">
            <div class="col">
                {{ notes_formset }}
            </div>
        </div>
        {{ upload_formset.management_form }}
        {% for upload_form in upload_formset  %}
            <div class="form-row mt-2" id="upload-row">
                <div class="col">
                    {{ upload_form.description }}
                </div>
                <div class="col">
                    {{ upload_form.file }}
                </div>
            </div>
        {% endfor %}
    </form>
<div class="form-row mt-5">
    <div class="col">
        <input id="add-attachments" class="btn btn-primary" type="button" value="{% trans 'Tilføj flere billag' %}"/>
    </div>
</div>
    <script>
        $( document ).ready(function() {
            $( "input#add-attachments" ).click(function() {
                let count = $('input#id_uploads-TOTAL_FORMS').val();
                let row = `<div class="form-row mt-2">
                    <div class="col">
                        <input type="text" name="uploads-${count}-description" placeholder="Fil-beskrivelse" autocomplete="off" class="form-control mr-2" id="id_uploads-${count}-description">
                    </div>
                    <div class="col">
                        <input type="file" name="uploads-${count}-file" class="form-control mr-2" id="id_uploads-${count}-file">
                    </div>
                </div>`
                $(row).appendTo($("form#notes-and-documents-form"))
                $('input#id_uploads-TOTAL_FORMS').val(count+1);
            })
        })
    </script>
