{% load i18n %}
    <form id="notes-and-documents-form" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-row">
            <div class="col col-1">
                <a class="btn btn-secondary"
                   href="{% if policy_tax_year %}
                            {% url 'kas:policy_detail' policy_tax_year.pk %}
                          {% else %}
                            {% url 'kas:person_in_year' person_tax_year.year person_tax_year.person_id %}
                         {% endif %}">{% trans 'Tilbage' %}</a>
            </div>
            {% for field in form %}
            <div class="col-2 form-group">
                <label class="col-form-label">{{ field.label }}:</label>{{ field }}
            </div>
            {% endfor %}
        </div>
        <div class="form-row mt-2 mb-2">
            <div class="col">
                {{ notes_formset }}
            </div>
        </div>
        {{ upload_formset.management_form }}
        {% for upload_form in upload_formset  %}
            <div class="form-row mt-2" id="upload-row">
                <div class="col">
                    {{ upload_form.description }}
                </div>
                <div class="col">
                    {{ upload_form.file }}
                </div>
            </div>
        {% endfor %}

    <div class="form-row mt-5">
        <div class="col">
            <input id="add-attachments" class="btn btn-primary" type="button" value="{% trans 'Tilføj flere billag' %}"/>
        </div>
    </div>
    <div class="form-row mt-5">
        <div class="col">
            <input class="btn btn-success float-right" type="submit" value="{% if create %}{% trans 'Opret' %}{% else %}{% trans 'Opdater' %}{% endif %}"/>
        </div>
    </div>
</form>
<script>
    $( document ).ready(function() {
        $( "input#add-attachments" ).click(function() {
            let count = $('input#id_uploads-TOTAL_FORMS').val();
            let row = `<div class="form-row mt-2">
                <div class="col">
                    <input type="text" name="uploads-${count}-description" placeholder="Fil-beskrivelse" autocomplete="off" class="form-control mr-2" id="id_uploads-${count}-description">
                </div>
                <div class="col">
                    <input type="file" name="uploads-${count}-file" class="form-control mr-2" id="id_uploads-${count}-file">
                </div>
            </div>`
            $(row).appendTo($("form#notes-and-documents-form"))
            $('input#id_uploads-TOTAL_FORMS').val(count+1);
        })
    })
</script>
