{% load i18n %}
    <form id="notes-and-documents-form" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-row">
            <div class="col-1 ml-auto">
                {% if policy_tax_year %}
                    <a href="{% url 'kas:policy_detail' policy_tax_year.pk %}">{% trans 'Tilbage til police' %}</a>
                {% else %}
                    <a href="{% url 'kas:person_in_year' person_tax_year.year person_tax_year.person_id %}">{% trans 'Tilbage til person' %}</a>
                {% endif %}
            </div>
        </div>
        <div class="form-row">
            {% for field in form %}
                {% if field.name != 'next_processing_date' and field.name != 'slutlignet' and field.name != 'efterbehandling' %}
                    {% if field.field.widget.input_type == 'checkbox' %}
                        <div class="form-group form-check">
                            {{ field }}<label class="form-check-label" for="{{field.id_for_label}}">{{ field.label }}</label>
                        </div>
                    {% else %}
                        <div class="col form-group">
                            <label class="" for="{{field.id_for_label}}">{{ field.label }}:</label>{{ field }}
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>

        <hr/>

        {% if form.slutlignet or form.efterbehandling %}
        <div class="form-row form-group">
        {% if form.slutlignet %}
        <div class="form-check mt-3">
            {{ form.slutlignet }}
            <label for="{{ form.slutlignet.id_for_label }}" class="form-check-label">{{ form.slutlignet.label }}</label>
        </div>
        {% endif %}
        {% if form.efterbehandling %}
        <div class="form-check mt-3 ml-5">
            {{ form.efterbehandling }}
            <label for="{{ form.slutlignet.id_for_label }}" class="form-check-label">{{ form.efterbehandling.label }}</label>
        </div>
        {% endif %}
        </div>
        {% endif %}

        {% if form.next_processing_date %}
        <div class="form-row">
            <div>
                <button id="collapseButtonNextProcessingDate" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseNextProcessingDate" aria-expanded="false"  aria-controls="collapseNextProcessingDate">
                    {% trans 'Opdatér næste behandlingsdato' %}
                </button>
                <div id="collapseNextProcessingDate" class="collapse">
                    {{ form.next_processing_date }}
                </div>
            </div>
        </div>
        {% endif %}

        <div class="form-row mt-2 mb-2">
            <div class="col">
                {{ notes_formset }}
            </div>
        </div>

        {% if upload_formset %}
        {{ upload_formset.management_form }}
        <div id="upload-form-container">
        {% for upload_form in upload_formset  %}
            <div class="form-row mt-2" id="upload-row">
                <div class="col">
                    {{ upload_form.description }}
                </div>
                <div class="col custom-file">
                    {{ upload_form.file }}
                    <label class="custom-file-label" for="{{ upload_form.file.id_for_label }}">{% trans 'Vælg en fil' %}</label>
                </div>
            </div>
        {% endfor %}
        </div>
    <div class="form-row mt-5">
        <div class="col">
            <input id="add-attachments" class="btn btn-primary" type="button" value="{% trans 'Tilføj flere bilag' %}"/>
        </div>
    </div>
    {% endif %}
    <div class="form-row mt-5">
        <div class="col">
            <input class="btn btn-success float-right" type="submit" value="{% if create %}{% trans 'Opret' %}{% else %}{% trans 'Gem' %}{% endif %}"/>
        </div>
    </div>
</form>
{% if form.next_processing_date %}
{{ form.next_processing_date.id_for_label|json_script:"next_processing_date_id" }}
<script>
    $( document ).ready(function() {
        $("input#add-attachments").click(function() {
            let count = $('input#id_uploads-TOTAL_FORMS').val();
            let row = $(`<div class="form-row mt-2">
                <div class="col">
                    <input type="text" name="uploads-${count}-description" placeholder="Fil-beskrivelse" autocomplete="off" class="form-control mr-2" id="id_uploads-${count}-description">
                </div>
                <div class="col custom-file">
                    <input type="file" name="uploads-${count}-file" class="form-control mr-2 custom-file-input" id="id_uploads-${count}-file">
                    <label class="custom-file-label" for="id_uploads-${count}-file">{% trans 'Vælg en fil' %}</label>
                </div>
            </div>`);
            $("#upload-form-container").append(row);
            $('input#id_uploads-TOTAL_FORMS').val(count+1);

            row.find(".custom-file-input").on("change", function() {
                var fileName = $(this).val().split("\\").pop();
                $(this).siblings(".custom-file-label").addClass("selected").text(fileName);
            });
        });

        // Don't submit date field if it's hidden
        const nextProcessingDateField = $("#" + JSON.parse($('#next_processing_date_id').text()));
        $('#collapseNextProcessingDate').on({
            'shown.bs.collapse': function() {
                nextProcessingDateField.removeAttr("disabled");
            },
            'hidden.bs.collapse': function() {
                nextProcessingDateField.attr("disabled", "disabled");
            }
        });
        $(".custom-file-input").on("change", function() {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").text(fileName);
        });
    });
</script>
<style>
    .custom-file-label::after { content: "{% trans 'Gennemse...' %}" !important; }
</style>

{% include 'includes/processing_date_scripts.html' with modal_id='processingWarningModal' checkbox_id=form.slutlignet.id_for_label %}
{% endif %}
