{% load i18n %}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="{{urlparams|urlparam_join:'page=1'}}">&laquo; {% translate 'første' %}</a>
            <a href="{{urlparams|urlparam_join:'page='|append:page_obj.previous_page_number }}">{% translate 'forrige' %}</a>
        {% endif %}

        <span class="current">
            {% blocktrans with page=page_obj.number total=page_obj.paginator.num_pages total_hits=page_obj.paginator.count %}Side {{ page }} af {{ total }} af i alt {{total_hits}} resultater{% endblocktrans %}
        </span>

        {% if page_obj.has_next %}
            <a href="{{urlparams|urlparam_join:'page='|append:page_obj.next_page_number }}">{% translate 'næste' %}</a>
            <a href="{{urlparams|urlparam_join:'page='|append:page_obj.paginator.num_pages }}">{% translate 'sidste' %} &raquo;</a>
        {% endif %}
    </span>
</div>
