{% load i18n %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-row">
        <div class="col-1 ml-auto">
            {% if person_tax_year %}
                <a href="{% url 'kas:person_in_year' object.year object.person.id %}">{% trans 'Tilbage til person' %}</a>
            {% else %}
                <a href="{% url 'kas:policy_detail' object.pk %}">{% trans 'Tilbage til police' %}</a>
            {% endif %}
        </div>
    </div>
    <h1>{{ header }}</h1>
    <h2 id="Note">{% trans 'Notat' %} {% include 'includes/help_text/question_mark.html' with target_id='js-note-collapse' only %}</h2>
    {% include 'includes/help_text/collapse.html' with help_text=notes_helptext target_id='js-note-collapse' only %}
    {{ form.note }}
    <h2 id="Bilag">{% trans 'Bilag' %} {% include 'includes/help_text/question_mark.html' with target_id='js-billag-collapse' only %}</h2>
    {% include 'includes/help_text/collapse.html' with help_text=bilag_helptext target_id='js-billag-collapse' %}
    <div class="form-row form-group">
        <div class="col">
            {{ form.attachment_description }}
        </div>
        <div class="col">
            {{ form.attachment }}
        </div>
    </div>
    {% if form.slutlignet or form.efterbehandling %}
        <div class="form-row">
            {% if form.slutlignet %}
                <div class="form-check mt-3 ml-auto">
                    {{ form.slutlignet }}
                    <label class="form-check-label">{{ form.slutlignet.label }}</label>
                </div>
            {% endif %}
            {% if form.efterbehandling %}
                <div class="form-check mt-3 ml-5">
                    {{ form.efterbehandling }}
                    <label class="form-check-label">{{ form.efterbehandling.label }}</label>
                </div>
            {% endif %}
        </div>
    {% endif %}
    {% if form.next_processing_date %}
        <div class="form-row">
            <div class="mt-3 ml-auto">
                <button id="collapseButtonNextProcessingDate" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseNextProcessingDate" aria-expanded="false"  aria-controls="collapseNextProcessingDate">
                    {% trans 'Opdatér næste behandlingsdato' %}
                </button>
                <div id="collapseNextProcessingDate" class="collapse">
                    {{ form.next_processing_date }}
                </div>
            </div>
        </div>
    {% endif %}
    <div class="form-row">
        <div class="ml-auto">
            <button type="submit" class="btn btn-success mt-2 mb-5">{% trans 'Gem' %}</button>
        </div>
    </div>
</form>

{% include 'includes/processing_date_scripts.html' with modal_id='processingWarningModal' checkbox_id=form.slutlignet.id_for_label %}
