{% load i18n %}
<table class="table table-bordered table-sm">
    <thead>
    <tr>
        <th>{% trans 'Status' %}</th>
        <th>{% trans 'Type' %}</th>
        <th>{% trans 'Amount' %}</th>
        <th>{% trans 'Oprettet af' %}</th>
        <th>{% trans 'Oprettet' %}</th>
        <th>{% trans 'Overført af' %}</th>
        <th>{% trans 'Overført' %}</th>
    </tr>
    </thead>
    <tbody>
    {% for transaction in transactions %}
        <tr>
            <td>{{ transaction.get_status_display }}</td>
            <td>{{ transaction.get_type_display }}</td>
            <td>{{ transaction.amount }}</td>
            <td>{{ transaction.created_by }}</td>
            <td>{{ transaction.created_at|date:"SHORT_DATETIME_FORMAT" }}</td>
            <td>{{ transaction.transferred_by|default_if_none:'-' }}</td>
            <td>{{ transaction.transferred_at|date:"SHORT_DATETIME_FORMAT" }}</td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="{% if policy_col %}4{% else %}3{% endif %}">{% trans 'Ingen transactioner fundet' %}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
