{% extends 'kas/layout.html' %}
{% load i18n %}

{% block content %}

    {% blocktrans asvar header with name=object.person.name %}Tilføj notat og eller bilag til {{ name }}{% endblocktrans %}

    {% blocktrans asvar instructions %}Her kan tilføjes notater og bilag til personen for dette skatteår. Det vil ikke blive tilknyttet nogen bestemt police.
    Ønsker man at tilføje et notat for en specifik police bør man bruge knappen <b>Tilføj bilag/notater</b> på policens side.

    Notaterne og bilagene findes kun i KAS-systemet og kan ikke ses af borgeren.{% endblocktrans %}

    {% blocktrans asvar notes_helptext %}For at tilføje et nyt notat udfyldes feltet <b>Nyt notat</b>. Tryk derefter på knappen <b>Gem</b> for at gemme notatet for personen.{% endblocktrans %}

    {% blocktrans asvar bilag_helptext %}For at tilføje et nyt bilag bruges <b>filfeltet</b> til højre.
        Der er mulighed for at angive en beskrivelse af filen i feltet <b>Fil-beskrivelse</b>.
        Efterfølgende klikkes på knappen <b>Gem</b> for at vedhæfte filen.{% endblocktrans %}
    {% include 'includes/single_notes_and_attachment_form.html' with notes_helptext=notes_helptext bilag_helptext=bilag_helptext %}

{% endblock %}
