{% extends 'kas/layout.html' %}
{% load i18n %}
{% block content %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-row form-group">
        <div class="col-1">
            <label>{% translate 'Beløb:' %}</label>
        </div>
        <div class="col-5 custom-file">
            {{ form.pseudo_amount }}
        </div>
    </div>
    <div class="form-row form-group">
        <div class="col-1">
            {% translate 'PDF-fil:' %}
        </div>
        <div class="col-5 custom-file">
            {{ form.pdf }}
            <label class="custom-file-label" for="{{ form.pdf.id_for_label }}">{% translate 'Vælg en fil' %}</label>
        </div>
    </div>
    <input type="submit" value="{% translate 'Opdatér' %}" class="btn btn-success" />
</form>
<script nonce="{{ request.csp_nonce }}">
    $(".custom-file-input").on("change", function() {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").text(fileName);
    });
</script>
{% endblock %}
