{% load static %}
{% load i18n %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="htmx-config" content='{"inlineStyleNonce":"{{ request.csp_nonce }}"}'>
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}" nonce="{{ request.csp_nonce }}">
    <link rel="stylesheet" href="{% static 'font-awesome/css/all.min.css' %}" nonce="{{ request.csp_nonce }}">
    <link rel="stylesheet" href="{% static 'css/select2.min.css' %}" nonce="{{ request.csp_nonce }}">
    <link rel="stylesheet" href="{% static 'css/select2-bootstrap4.min.css' %}" nonce="{{ request.csp_nonce }}">
    <link rel="stylesheet" href="{% static 'css/kas.css' %}" nonce="{{ request.csp_nonce }}">
    <script src="{% static 'js/jquery-3.5.1.min.js' %}" nonce="{{ request.csp_nonce }}"></script>
    <script src="{% static 'js/htmx.min.js' %}" nonce="{{ request.csp_nonce }}"></script>
    <script src="{% static 'bootstrap/bootstrap.bundle.min.js' %}" nonce="{{ request.csp_nonce }}"></script>
    <script src="{% static 'js/select2.full.min.js' %}" nonce="{{ request.csp_nonce }}"></script>
    <script src="{% static 'js/bootstrap-tab-history/bootstrap-tab-history.js' %}" nonce="{{ request.csp_nonce }}"></script>
    <title>KAS</title>
</head>
<body>
{% if user.is_authenticated %}
    {% if test_environment %}
        <header class="dev_globalheader printhide">
    {% else %}
        <header>
    {% endif %}
    <nav class="nav d-flex p-2">
        {% if back_url %}
        <a class="p-2 btn btn-secondary" href="{{ back_url }}">
            <span class="fas fa-chevron-left"></span>
            {% if back_text %}{{ back_text }}{% else %}{% translate 'Tilbage' %}{% endif %}
        </a>
        {% endif %}

        <a class="p-2 text-muted" href="{% url 'kas:person_search' %}">{% translate 'Find person' %}</a>

        {% if perms.kas.list_persontaxyear %}
        <a class="p-2 text-muted dropdown-toggle" href="#" role="button" id="searchMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% translate 'Udtrækslister' %}
        </a>
        <ul class="dropdown-menu" aria-labelledby="searchMenuLink">
            <li><a class="dropdown-item" href="{% url 'kas:person_search_failsend' %}">{% translate 'Personer med fejlet afsendelse af selvangivelse' %}</a></li>
            <li><a class="dropdown-item" href="{% url 'kas:policy_search_unfinished' %}">{% translate 'Policer der kræver efterbehandling' %}</a></li>
            <li><a class="dropdown-item" href="{% url 'kas:person_search_unfinished' %}">{% translate 'Personer med policer der kræver efterbehandling' %}</a></li>
            <li><a class="dropdown-item" href="{% url 'kas:person_search_unhandled' %}">{% translate 'Personer med nye dokumenter eller notater' %}</a></li>
            <li><a class="dropdown-item" href="{% url 'kas:person_search_foreign' %}">{% translate 'Personer med udenlandsk pensionsnotat' %}</a></li>
            <li><a class="dropdown-item" href="{% url 'kas:person_search_eskat_diff' %}">{% translate 'Personer med forskel mellem eskat og kas' %}</a></li>
            <li><a class="dropdown-item" href="{% url 'kas:policy_search_taxdifference' %}">{% translate 'Policer med forskel på fortrykt og selvangivet beløb' %}</a></li>
        </ul>
        {% endif %}
            {% if perms.worker.view_job or perms.kas.change_pensioncompany %}
            <div class="p-2">
                <a class="p-2 text-muted dropdown-toggle" href="#" role="button" id="adminMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% translate 'Administration' %}
                </a>
                <ul class="dropdown-menu" aria-labelledby="adminMenuLink">
                    {% if perms.kas.change_pensioncompany %}
                        <li><a class="dropdown-item" href="{% url 'kas:pensioncompany-listview' %}">{% translate 'Pensionsselskaber' %}</a></li>
                    {% endif %}
                    {% if perms.worker.view_job %}
                        <li><a class="dropdown-item" href="{% url 'worker:job_list' %}">{% translate 'Jobadministration' %}</a></li>
                    {% endif %}
                    <li><a class="dropdown-item" href="{% url 'kas:locks' %}">{% translate 'Låse' %}</a></li>
                </ul>
            </div>
            {% endif %}
        {% if perms.kas.view_pensioncompanysummaryfile %}
            <a class="p-2 text-muted" href="{% url 'kas:policy_summary_list_latest' %}">{% translate 'Policeopsummering' %}</a>
        {% endif %}
        {% if perms.prisme.add_prisme10qbatch %}
            <a class="p-2 text-muted" href="{% url 'prisme:batch-list' %}">{% translate '10Q Batches' %}</a>
        {% endif %}
        {% get_current_language as language_code %}
        {% if language_code == 'kl-GL' %}
            {% static 'doc/kl/Manual for system til skat af visse kapitalafkast (KAS).pdf' as manual_url %}
        {% else %}
            {% static 'doc/da/Manual for system til skat af visse kapitalafkast (KAS).pdf' as manual_url %}
        {% endif %}
        <a class="p-2 text-muted" href="{{ manual_url }}" target="_blank">{% translate 'Manual' %}</a>

        {% if representing %}
            <span class="ml-auto">
            {% blocktranslate with cpr=representing.person.cpr %}Du er logget ind i selvbetjening på vegne af {{cpr}}{% endblocktranslate %}
            <a href="{{ representation_stop }}" class="btn btn-outline-primary">{% translate 'Afslut repræsentation' %}</a>

            </span>
        {% endif %}

        <span class="ml-auto">
            <span class="p-2">{% blocktranslate with username=user.username %}Du er logget ind som {{username}}{% endblocktranslate %}</span>
            <a class="btn btn-secondary" href="{% url 'logout' %}">{% translate 'Log ud' %}</a>
            {% if perms.auth.view_user or perms.kas.add_taxyear %}
                <a class="btn btn-primary" href="{% url 'kasadmin:index' %}">{% translate 'Admin' %}</a>
            {% endif %}
        </span>
    </nav>

    <div class="dev_textheader">KAS {{version}} {% if test_environment %}TEST{% else %}PROD{% endif %}</div>
    </header>
    <hr class="p-0 m-0">

{% endif %}
{% if messages %}
    {% for message in messages %}
        <div class="alert text-center {% if message.level == 20 %}alert-info
                          {% elif message.level == 25 %}alert-success
                          {% elif message.level == 30 %}alert-warning
                          {% elif message.level == 40 %}alert-danger
                          {% endif %}" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
    <div class="p-4">

{% if test_environment %}
<div class="dev_watermark">KAS {{version}}<br>TEST VERSION</div>
{% endif %}
{% block content %}
{% endblock %}

    </div>
<script nonce="{{ request.csp_nonce }}">
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>

</body>
</html>
