{% load static %}
{% load i18n %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}" >
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap-table.min.css' %}" >
    <link rel="stylesheet" href="{% static 'font-awesome/css/all.min.css' %}" >
    <link rel="stylesheet" href="{% static 'css/kas.css' %}" >
    <script src="{% static 'jquery/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'bootstrap/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'bootstrap/bootstrap-table.min.js' %}"></script>
    <script src="{% static 'bootstrap/bootstrap-table-django-filter.js' %}"></script>
    <title>KAS</title>
</head>
<body>
{% if user.is_authenticated %}
    <nav class="nav d-flex p-2">
        {% if back_url %}
        <a class="p-2 btn btn-secondary" href="{{ back_url }}">
            <span class="fas fa-chevron-left"></span>
            {% if back_text %}{{ back_text }}{% else %}{% trans 'Tilbage' %}{% endif %}
        </a>
        {% endif %}

        <a class="p-2 text-muted" href="{% url 'kas:person_search' %}">{% trans 'Find person' %}</a>

        <a class="p-2 text-muted dropdown-toggle" href="#" role="button" id="searchMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% trans 'Udtrækslister' %}
        </a>
        <ul class="dropdown-menu" aria-labelledby="searchMenuLink">
            <li><a class="dropdown-item" href="{% url 'kas:person_search_failsend' %}">{% trans 'Personer med fejlet afsendelse af selvangivelse' %}</a></li>
            <li><a class="dropdown-item" href="{% url 'kas:policy_search_unfinished' %}">{% trans 'Policer der kræver efterbehandling' %}</a></li>
            <li><a class="dropdown-item" href="{% url 'kas:person_search_unfinished' %}">{% trans 'Personer med policer der kræver efterbehandling' %}</a></li>
            <li><a class="dropdown-item" href="{% url 'kas:person_search_unhandled' %}">{% trans 'Personer med nye dokumenter eller notater' %}</a></li>
            <li><a class="dropdown-item" href="{% url 'kas:person_search_foreign' %}">{% trans 'Personer med udenlandsk pensionsnotat' %}</a></li>
        </ul>

        {% if user.is_staff %}
        <a class="p-2 text-muted" href="{% url 'worker:job_list' %}">{% trans 'Jobadministration' %}</a>
        <a class="p-2 text-muted" href="{% url 'kas:policy_summary_list_latest' %}">{% trans 'Policeopsummering' %}</a>
        <a class="p-2 text-muted" href="{% url 'prisme:batch-list' %}">{% trans '10Q Batches' %}</a>
        {% endif %}

        {% get_current_language as language_code %}
        {% if language_code == 'kl-GL' %}
            {% static 'doc/kl/Manual til sagsbehandling på KAS-systemet.pdf' as manual_url %}
        {% else %}
            {% static 'doc/da/Manual til sagsbehandling på KAS-systemet.pdf' as manual_url %}
        {% endif %}
        <a class="p-2 text-muted" href="{{ manual_url }}" target="_blank">{% trans 'Manual' %}</a>

        <span class="ml-auto">
            <span class="p-2">{% blocktrans with username=user.username %}Du er logget ind som {{username}}{% endblocktrans %}</span>
            <a class="btn btn-secondary" href="{% url 'logout' %}">{% trans 'Log ud' %}</a>
            {% if user.is_staff or user.is_superuser %}
                <a class="btn btn-primary" href="{% url 'kasadmin:index' %}">{% trans 'Admin' %}</a>
            {% endif %}
        </span>
    </nav>
    <hr class="p-0 m-0">
{% endif %}
{% if messages %}
    {% for message in messages %}
        <div class="alert text-center {% if message.level == 20 %}alert-info
                          {% elif message.level == 25 %}alert-success
                          {% elif message.level == 30 %}alert-warning
                          {% elif message.level == 40 %}alert-danger
                          {% endif %}" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
    <div class="p-4">
{% block content %}
{% endblock %}

    </div>
<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
</body>
</html>
