{% extends 'kas/layout.html' %}
{% load i18n %}
{% block content %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-row">
        <div class="col-2">
            <a href="{% url 'kas:pensioncompany-listview' %}">{% translate 'Tilbage til liste med pensionsselskaber' %}</a>
        </div>
    </div>
    <table class="mt-4">
        {{ form.as_table }}
    </table>
    <input type="submit" value="{% translate 'Opdater' %}" class="btn btn-success" />
</form>
{% endblock %}
