{% extends 'kas/layout.html' %}
{% load i18n %}

{% block content %}
    {% if historical %}
        <div class="row float-right">
            <a href="{% url 'kas:person_history_list' person_tax_year.id %}">{% trans 'Tilbage til historik oversigt' %}</a>
        </div>
        <h1>{% blocktrans with name=person_tax_year.person.name year=person_tax_year.tax_year.year history_date=person_tax_year.history_date|date:'SHORT_DATETIME_FORMAT' %}{{ name }} i år {{year}} fra <b>{{ history_date }}</b>{% endblocktrans %} {% include 'includes/help_text/question_mark.html' with target_id='js-top-collapse' only %}</h1>
        {% blocktrans asvar help_text with history_date=person_tax_year.history_date|date:'SHORT_DATETIME_FORMAT' %} Denne side viser en tidligere version af personskatteåret fra <b>{{ history_date }}</b> {% endblocktrans %}
    {% else %}
        <h1>{% blocktrans with name=person_tax_year.person.name year=person_tax_year.year %}{{ name }} i år {{year}}{% endblocktrans %} {% include 'includes/help_text/question_mark.html' with target_id='js-top-collapse' only %}</h1>
      {% blocktrans asvar help_text %}På denne side kan man se detaljer for borgeren og borgerens policer, og oprette notater og vedhæfte bilag relateret til borgeren.
          Navigationsboksen til højre kan bruges til hurtigt at springe til den del af siden der ønskes at arbejde med.
          Hvis der er blevet genereret en selvangivelse for borgeren for det pågældende år kan der klikkes på linket 'Hent selvangivelse PDF' øverst på siden for at få vist selvangivelsen.
          Hvis borgeren har policer i det pågældende år vises der en liste over disse under tabellen med borgerens stamdata.
          Klik på en police for at se detaljer for policen og for at oprette notater og bilag relateret til policen.
          Nederst på siden vises se notater og bilag og det er muligt at tilføje nye notater og bilag.{% endblocktrans %}
    {% endif %}
    {% include 'includes/help_text/collapse.html' with help_text=help_text target_id="js-top-collapse" %}
  {% if person_tax_year.tax_slip %}
  <h2 id="Selvangivelse">{% trans 'Selvangivelse' %}</h2>
  <p><a href="{% url 'kas:get_pdf' view.year person_tax_year.person.pk %}">{% trans 'Hent selvangivelse PDF' %}</a></p>
  {% endif %}
  <h2 id="Stamdata">{% trans 'Stamdata' %}</h2>
  <table class="table table-bordered table-sm" style="width: auto;">
    {% with person=person_tax_year.person %}
    <tbody>
      <tr>
        <th>{% trans 'Cpr-nummer' %}</th>
        <td>{{ person.cpr }}</td>
      </tr>
      <tr>
        <th>{% trans 'Navn' %}</th>
        <td>{{ person.name }}</td>
      </tr>
      <tr>
          <th>{% trans 'År' %}</th>
          <td>
              {% if historical %}
                  {{ person_tax_year.tax_year.year }}
              {% else %}
              <select class="form-control" id="js-year-select">
                  {% for tax_year in person_tax_years %}
                      <option {% if tax_year == person_tax_year %}selected="selected"{% endif %} value="{% url 'kas:person_in_year' tax_year.year tax_year.person.pk %}">{{tax_year.tax_year.year}} ({{ tax_year.tax_year.get_year_part_display }})</option>
                  {% endfor %}
              </select>
              {% endif %}
          </td>
      </tr>
      <tr>
        <th>{% trans 'Kommunekode' %}</th>
        <td>{{ person.municipality_code }}</td>
      </tr>
      <tr>
        <th>{% trans 'Kommunenavn' %}</th>
        <td>{{ person.municipality_name }}</td>
      </tr>
      <tr>
        <th>{% trans 'Adrese' %}</th>
        <td><pre>{{ joined_address }}</pre></td>
      </tr>
      <tr>
        <th>{% trans 'Adresse på én linie' %}</th>
        <td>{{ person.full_address|default:"" }}</td>
      </tr>
      <tr>
        <th>{% trans 'Skatteomfang' %}</th>
        <td>{% if person_tax_year.fully_tax_liable %}{% trans 'Fuldt skattepligtig' %}{% else %}{% trans 'Ikke fuldt skattepligtig' %}{% endif%}</td>
      </tr>
      <tr>
        <th>{% blocktrans with year=view.year %}Skattedage i {{ year }}{% endblocktrans %}</th>
        <td>{{ person_tax_year.number_of_days }}</td>
      </tr>
      <tr>
          <th>{% trans 'Slutlignet' %}</th>
          <td>{% if person_tax_year.slutlignet %}<span>{% trans 'Ja' %}</span>{% else %}<span>{% trans 'Nej' %}</span>{% endif %}</td>
      </tr>
      <tr>
          <th>{% trans 'Kræver efterbehandling' %}</th>
          <td>{% if person_tax_year.efterbehandling %}<span>{% trans 'Ja' %}</span>{% else %}<span>{% trans 'Nej' %}</span>{% endif %}</td>
      </tr>
    </tbody>
    {% endwith %}
  </table>
    {% if not historical %}
    <fieldset class="border pl-4 pb-4 mb-4">
        <legend class="w-auto">{% trans 'Handlinger' %}</legend>
        <a class="btn btn-success" href="{% url 'kas:policy_create' view.year view.person_id %}">{% trans 'Opret ny police' %}</a>
        <a class="btn btn-info" href="{% url 'kas:person_add_notes_or_attachement' person_tax_year.pk %}" >{% trans 'Tilføj bilag/notater' %}</a>
        {% if person_tax_year.tax_year.year_part == 'genoptagelsesperiode' %}
            <a href="" class="btn btn-warning"> {# TODO needs to be implemented. When implementing view, check the tax_year.year_part to make sure it's 'genoptagelsesperiode' #}
                {% trans 'Udsend ny slutopgørelse' %}
            </a>
        {% else %}
            <button type="button" class="btn btn-warning" disabled="disabled" aria-disabled="true" title="{% trans 'Udsendelse af slutopgørelse er kun tilgængelig i genoptagelsesperioden' %}">
                {% trans 'Udsend ny slutopgørelse' %}
            </button>
        {% endif %}
        <a href="{% url 'kas:person_history_list' person_tax_year.pk %}" class="btn btn-secondary">{% trans 'Vis historik' %}</a>
    </fieldset>
    {% include 'includes/detail_tabs.html' with policy_col=True policies=person_tax_year.policytaxyear_set.all notes=person_tax_year.notes.all attachments=person_tax_year.policydocument_set.all transactions=transactions settlements=person_tax_year.finalsettlement_set.all %}
    <script type="application/javascript">
        $( document ).ready(function() {
            $('select#js-year-select').on('change', function(){
                window.location = this.value;
            });
        });
    </script>
    {% endif %}
{% endblock %}
