{% extends 'kas/layout.html' %}
{% load i18n %}

{% block content %}
<h1>{% trans 'Personer med difference mellem eskat og kas' %}</h1>
<div>
    <form action="" method="GET">
        <table>
            {{ view.form.as_table }}
        </table>
        <input type="submit" value="{% trans 'Søg' %}" class="btn btn-primary" />
    </form>
</div>
{% if personstaxyears %}
<a class="float-right" href="{{ excel_link }}">{% trans 'Download excel fil'%}</a>
<table class="table table-striped">
    <thead>
    <tr>
        <th>
            {% trans 'Personnummer' as personnummer %}
            {% include 'includes/order_by_link.html' with key="order_by" value="person__cpr" text=personnummer %}
        </th>
        <th>
            {% trans 'Navn' as navn %}
            {% include 'includes/order_by_link.html' with key="order_by" value="person__name" text=navn %}
        </th>
        <th>
            {% trans 'Adresse' as adresse %}
            {% include 'includes/order_by_link.html' with key="order_by" value="person__full_address_nulllast" text=adresse %}
        </th>
        <th>
            {% trans 'Kommune' as kommune %}
            {% include 'includes/order_by_link.html' with key="order_by" value="person__municipality_name_nulllast" text=kommune %}
        </th>
        <th>
            {% trans 'Antal policer' as antal_policer %}
            {% include 'includes/order_by_link.html' with key="order_by" value="policy_count" text=antal_policer %}
        </th>
        <th>
            {% trans 'Beløb i E-skat' as eskat_amount %}
            {% include 'includes/order_by_link.html' with key="order_by" value="capital_return_tax" text=eskat_amount %}
        </th>
        <th>
            {% translate 'Beløb i KAS' as kas_amount %}
            {% include 'includes/order_by_link.html' with key="order_by" value="pseudo_amount" text=kas_amount %}
        </th>
        <th>
            {% translate 'Forskel' as difference %}
            {% include 'includes/order_by_link.html' with key="order_by" value="difference" text=difference %}
        </th>
        <th style="text-align: center">
            {% trans 'Kræver efterbehandling' as efterbehandling %}
            {% include 'includes/order_by_link.html' with key="order_by" value="efterbehandling_annotation" text=efterbehandling %}
        </th>

    </tr>
    </thead>
    <tbody>
    {% for person_tax_year in personstaxyears %}
    {% with person_tax_year.person as person %}
    {% url 'kas:person_in_year' person_tax_year.year person.pk as person_url %}

    <tr>
        <td><a href="{{ person_url }}">{{ person.cpr }}</a></td>
        <td><a href="{{ person_url }}">{{ person.name }}</a></td>
        <td>{{ person.full_address }}</td>
        <td>{{ person.municipality_name }}</td>
        <td>{{ person_tax_year.policy_count }}</td>
        <td>{{ person_tax_year.capital_return_tax }}</td>
        <td>{{ person_tax_year.pseudo_amount }}</td>
        <td>{{ person_tax_year.difference }}</td>
        {% with efterbehandling=person_tax_year.efterbehandling|yesno:"Ja,Nej" %}
            <td align='center'>
            {% trans 'Kan rettes i: person<br>&#8627;police<br>&#8627;ret efterbehandling' as help_text %}
            <a href="#" data-toggle="tooltip" title="{{ help_text }}" data-html="true">{{ efterbehandling }}</a>
            </td>
        {% endwith %}
    </tr>
    {% endwith %}
    {% endfor %}
    </tbody>
</table>
{% else %}
<p>{% blocktrans with year=view.year %}Ingen personer fundet{% endblocktrans %}</p>
{% endif %}
<hr/>
{% include 'includes/pager.html' %}
{% endblock %}
