{% extends 'kas/layout.html' %}
{% load i18n %}
{% block content %}
    <h1>{% blocktranslate with name=object.person.name year=object.tax_year.year %} Historik for {{ name }} i år {{ year }}{% endblocktranslate %}</h1>
    <table class="table table-bordered table-sm autowidth">
        <tbody>
        <tr>
            <td>{% translate 'Personskatteår' %}</td>
            <td><a href="{% url 'kas:person_in_year' object.tax_year.year object.person.pk %}">{% blocktranslate with cpr=object.person.cpr name=object.person.name year=object.tax_year.year %} {{ cpr }} / {{ name }} i {{ year }}{% endblocktranslate %}</a></td>
        </tr>
        </tbody>
    </table>
<table class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <td>{% translate 'Dato' %}</td>
            <td>{% translate 'Type' %}</td>
            <td>{% translate 'Hændelse' %}</td>
            <td>{% translate 'Af' %}</td>
            <td>{% translate 'Årsag/indhold' %}</td>
            <td>{% translate 'Link' %}</td>
        </tr>
    </thead>
    <tbody>
        {% for entry in objects %}
        <tr>
            <td>{{ entry.history_date|date:'SHORT_DATETIME_FORMAT' }}</td>
            <td>
                {% if  entry.klass == 'PersonTaxYear' %}
                    {% translate 'Personskatteår' %}
                {% elif  entry.klass == 'Person' %}
                    {% translate 'Person' %}
                {% elif  entry.klass == 'Policy' %}
                    {% translate 'Police' %}
                {% elif  entry.klass == 'Note' %}
                    {% translate 'Notat' %}
                {% elif  entry.klass == 'PolicyDocument' %}
                    {% translate 'Bilag' %}
                {% elif  entry.klass == 'TaxSlipGenerated' %}
                    {% translate 'Selvangivelse' %}
                {% elif  entry.klass == 'FinalSettlement' %}
                    {% translate 'Slutopgørelse' %}
                {% else %}
                    {{ entry }}
                {% endif %}
            </td>
            <td>
                {% if entry.history_type == '+' %}
                    {% translate 'Oprettet' %}
                {% elif entry.history_type == '~' %}
                    {% translate 'Ændret' %}
                {% elif entry.history_type == '-' %}
                    {% translate 'Slettet' %}
                {% endif %}
            </td>
            <td>
                {% if entry.history_user__username == 'rest' %}
                {{ entry.updated_by }}
                {% else %}
                {{ entry.history_user__username|default_if_none:'' }}
                {% endif %}
            </td>
            <td>
                {{ entry.history_change_reason|default_if_none:'' }}
            </td>
            <td>{% if  entry.klass == 'PersonTaxYear' %}
                    <a href="{% url 'kas:person_history_detail' entry.history_id %}">{% translate 'Gå til version' %}</a>
                {% elif  entry.klass == 'Policy' %}
                    <a href="{% url 'kas:policy_history_list' entry.history_id %}">{% translate 'Gå til historik' %}</a>
                {% elif  entry.klass == 'PolicyDocument' %}
                    <a href="{% url 'kas:policy_document_download' entry.history_id %}">{% translate 'Vis bilag' %}</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
