{% extends 'kas/layout.html' %}
{% load i18n %}

{% block content %}
  <div class="float-right border p-2">
    <h3>Navigation</h3>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" href="#Selvangivelse">{% trans 'Selvangivelse' %}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#Stamdata">{% trans 'Stamdata' %}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#Policer">{% trans 'Policer' %}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#notes">{% trans 'Notater' %}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#Bilag">{% trans 'Bilag' %}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#Transaktioner">{% trans 'Transaktioner' %}</a>
      </li>
    </ul>
  </div>

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}

  <h1>{{ person_tax_year.person.name }} {% trans 'i år' %} {{view.year}}</h1>

  <p>{% blocktrans %}På denne side kan man se detaljer for borgeren og borgerens policer, og oprette notater og vedhæfte bilag relateret til borgeren.{% endblocktrans %}</p>
  <p>{% blocktrans %}Navigationsboksen til højre kan bruges til hurtigt at springe til den del af siden der ønskes at arbejde med.{% endblocktrans %}</p>
  <p>{% blocktrans %}Hvis der er blevet genereret en selvangivelse for borgeren for det pågældende år
     kan der klikkes på linket 'Hent selvangivelse PDF' øverst på siden for at få vist selvangivelsen.{% endblocktrans %}</p>
  <p>{% blocktrans %}Hvis borgeren har policer i det pågældende år vises der en liste over disse under tabellen med borgerens stamdata.
     Klik på en police for at se detaljer for policen og for at oprette notater og bilag relateret til policen.{% endblocktrans %}</p>
  <p>{% blocktrans %}Nederst på siden vises se notater og bilag og det er muligt at tilføje nye notater og bilag.{% endblocktrans %}</p>

  {% if person_tax_year.tax_slip %}
  <h2 id="Selvangivelse">{% trans 'Selvangivelse' %}</h2>
  <p><a href="{% url 'kas:get_pdf' view.year person_tax_year.person.pk %}">{% trans 'Hent selvangivelse PDF' %}</a></p>
  {% endif %}

  <h2 id="Stamdata">Stamdata</h2>
  <table class="table table-bordered table-sm" style="width: auto;">
    <thead>
      <tr>
        <th>{% trans 'Felt' %}</th>
        <th>{% trans 'Værdi' %}</th>
      </tr>
    </thead>
    {% with person=person_tax_year.person %}
    <tbody>
      <tr>
        <th>{% trans 'Cpr-nummer' %}</th>
        <td>{{ person.cpr }}</td>
      </tr>
      <tr>
        <th>{% trans 'Navn' %}</th>
        <td>{{ person.name }}</td>
      </tr>
      <tr>
        <th>{% trans 'Kommunekode' %}</th>
        <td>{{ person.municipality_code }}</td>
      </tr>
      <tr>
        <th>{% trans 'Kommunenavn' %}</th>
        <td>{{ person.municipality_name }}</td>
      </tr>
      <tr>
        <th>{% trans 'Adrese' %}</th>
        <td><pre>{{ joined_address }}</pre></td>
      </tr>
      <tr>
        <th>{% trans 'Adresse på én linie' %}</th>
        <td>{{ person.full_address|default:"" }}</td>
      </tr>
      <tr>
        <th>{% trans 'Skatteomfang' %}</th>
        <td>{% if person_tax_year.fully_tax_liable %}{% trans 'Fuldt skattepligtig' %}{% else %}{% trans 'Ikke fuldt skattepligtig' %}{% endif%}</td>
      </tr>
      <tr>
        <th>{% blocktrans with year=view.year %}Skattedage i {{ year }}{% endblocktrans %}</th>
        <td>{{ person_tax_year.number_of_days }}</td>
      </tr>
    </tbody>
    {% endwith %}
  </table>


  <h2 id="Policer">{% trans 'Policer' %}</h2>
  {% if person_tax_year.policytaxyear_set.count %}
  <ul>
  {% for policy in person_tax_year.policytaxyear_set.all %}
    <li><a href="{% url 'kas:policy_detail' policy.pk %}">{{ policy.pension_company.name }} - {{ policy.policy_number }} - {% trans 'Før beregning:' %} {{ policy.initial_amount }}, {% trans 'anvendt negativt:' %} {{ policy.applied_deduction_from_previous_years }}, {% trans 'beregnet skat:' %} {{ policy.calculated_result }}</a></li>
  {% endfor %}
  </ul>
  {% else %}
  <p>{% trans 'Ingen policer fundet' %}</p>
  {% endif %}

  <h2 id="notes">{% trans 'Notater' %}</h2>

  <p>{% blocktrans %}Her listes notater der er oprettet på personen og dennes policer. Notaterne findes kun i KAS-systemet og kan ikke ses af borgeren.{% endblocktrans %}</p>
  <p>{% blocktrans %}For at tilføje et nyt notat udfyldes feltet 'Nyt notat' og der trykkes på 'Gem' i bunden af siden.{% endblocktrans %}</p>
  <p>{% blocktrans %}Ønsker man at tilføje et notat for en specifik police bør man bruge linket til policen ovenfor til at gå til policen og tilføje notatet der.{% endblocktrans %}</p>
  <p>{% blocktrans %}Hvis et notat er tilknyttet en bestemt police kan man klikke på linket i 'Police' kolonnen for at få vist policen.{% endblocktrans %}</p>
  <p>{% blocktrans %}Bemærk at det er muligt at vedhæfte et bilag sammen med et nyt notat ved også at udfylde bilag-feltet nedenfor når notatet oprettes.{% endblocktrans %}</p>

  {% include 'includes/notes.html' with notes=person_tax_year.notes.all policy_col=True %}

  {{ form.note }}
  <h2 id="Bilag">{% trans 'Bilag' %}</h2>
  <p>{% blocktrans %}Her listes bilag der er tilknyttet til personen og dennes policer.{% endblocktrans %}</p>
  <p>{% blocktrans %}For at tilføje et nyt notat udfyldes vælges der en fil via knappen under listen og
     der angives en beskrivelse af filen i feltet 'Fil-beskrivelse'. Efterfølgende klikkes på 'Gem' for at vedhæfte filen.{% endblocktrans %}</p>
  <p>Bilag der vedhæftes via nedenstående formular kan ikke ses af borgeren.</p>
  <p>{% blocktrans %}Ønsker man at tilføje et bilag på en specifik police skal man bruge linket til policen ovenfor for at gå til policen og tilføje bilaget der.{% endblocktrans %}</p>
  <p>{% blocktrans %}Hvis et bilag er tilknyttet en bestemt police kan man klikke på linket i 'Police' kolonnen for at få vist policen.{% endblocktrans %}</p>
  {% include 'includes/attachments.html' with attachments=person_tax_year.policydocument_set.all policy_col=True %}
  <div class="form-row">
      <div class="col">
          {{ form.attachment_description }}
      </div>
      <div class="col">
          {{ form.attachment }}
      </div>
  </div>
  <button type="submit" class="btn btn-primary mt-5">{% trans 'Gem' %}</button>
  <hr/>
  </form>
  <h2 id="Transaktioner">{% trans 'Transaktioner' %}</h2>
  {% include 'includes/transactions.html' with transactions=transactions %}
  <a href="{% url 'prisme:create-transaction' person_tax_year_id=person_tax_year.id %}" class="btn btn-success">{% trans 'Opret transaktion' %}</a>
{% endblock %}
