{% extends 'kas/layout.html' %}
{% load i18n %}

{% block content %}
  <h1>{% translate 'Søgning efter personer' %} {% include 'includes/help_text/question_mark.html' with target_id='js-top-collapse' only%}</h1>

{% blocktranslate asvar top_help %}Fremsøg borger ved at benytte nedenstående formular til at begrænse søgningen.

    I feltet <b>CPR</b> kan der angives et fuldt CPR-nummer eller en del af CPR-nummer. Et fuldt CPR-nummer kan angives med eller uden bindestreg.

    I feltet <b>Navn</b> kan der angives en del af navnet på en person eller det fulde navn på personen. Der skelnes ikke mellem store og små bogstaver.

    Klik på en borger i listen for at få vist detaljer for borgeren og for at få vist borgerens policer for det valgte år.{% endblocktranslate %}

  {% include 'includes/help_text/collapse.html' with help_text=top_help target_id='js-top-collapse' %}

  <div>
    <form action="" method="GET">
      <table>
      {{ view.form.as_table }}
      </table>
      <input type="submit" value="{% translate 'Søg' %}" class="btn btn-primary" />
    </form>
  </div>

  <hr/>

  {% if view.form.has_changed %}
    {% if personstaxyears %}
    <table class="table table-striped">
      <thead>
      <tr>
        <th>
          {% translate 'Personnummer' as cpr %}
          {% include 'includes/order_by_link.html' with key="order_by" value="person__cpr" text=cpr %}
        </th>
        <th>
          {% translate 'Navn' as name %}
          {% include 'includes/order_by_link.html' with key="order_by" value="person__name" text=name %}
        </th>
        <th>
          {% translate 'Adresse' as address %}
          {% include 'includes/order_by_link.html' with key="order_by" value="person__full_address_nulllast" text=address %}
        </th>
        <th>
          {% translate 'Kommune' as municipality %}
          {% include 'includes/order_by_link.html' with key="order_by" value="person__municipality_name_nulllast" text=municipality %}
        </th>
        <th>
          {% translate 'Antal policer' as antal_policer %}
          {% include 'includes/order_by_link.html' with key="order_by" value="policy_count" text=antal_policer %}
        </th>
        <th>
          {% translate 'Næste behandlingsdato' as processing_date %}
          {% include 'includes/order_by_link.html' with key="order_by" value="next_processing_date_nulllast" text=processing_date %}
        </th>
      </tr>
      </thead>
      <tbody>
      {% for person_tax_year in personstaxyears %}
        {% with person_tax_year.person as person %}
        {% url 'kas:person_in_year' person_tax_year.year person.pk as person_url %}
        <tr>
          <td><a href="{{ person_url }}">{{ person.cpr }}</a></td>
          <td><a href="{{ person_url }}">{{ person.name }}</a></td>
          <td>{{ person.full_address|default_if_none:'' }}</td>
          <td>{{ person.municipality_name|default_if_none:'' }}</td>
          <td>{{ person_tax_year.policytaxyear_set.count|default:0 }}</td>
          <td>{{ person_tax_year.next_processing_date|date:'SHORT_DATE_FORMAT'|default_if_none:'' }}</td>
        </tr>
        {% endwith %}
      {% endfor %}
      </tbody>
    </table>
    {% else %}
      <p>{% blocktranslate with year=view.year %}Ingen personer fundet for {{year}} med søgekriterierne{% endblocktranslate %}</p>
    {% endif %}
    <hr/>
    {% include 'includes/pager.html' %}
  {% else %}
    <p>{% translate 'Udfyld mindst ét søgefelt' %}</p>
  {% endif %}

{% endblock %}
