{% extends 'kas/layout.html' %}
{% load i18n %}

{% block content %}
    {% if historical %}
        <div class="row float-right">
            <a href="{% url 'kas:person_history_list' person_tax_year.id %}">{% trans 'Tilbage til historik oversigt' %}</a>
        </div>
        <h1>{% blocktrans with name=person_tax_year.person.name year=person_tax_year.tax_year.year history_date=person_tax_year.history_date|date:'SHORT_DATETIME_FORMAT' %}{{ name }} i år {{year}} fra <b>{{ history_date }}</b>{% endblocktrans %} {% include 'includes/help_text/question_mark.html' with target_id='js-top-collapse' only %}</h1>
        {% blocktrans asvar help_text with history_date=person_tax_year.history_date|date:'SHORT_DATETIME_FORMAT' %} Denne side viser en tidligere version af personskatteåret fra <b>{{ history_date }}</b> {% endblocktrans %}
    {% else %}
        <h1>{% blocktrans with name=person_tax_year.person.name year=person_tax_year.year %}{{ name }} i år {{year}}{% endblocktrans %}</h1>
        {% if person_tax_year.tax_slip %}
            <h2 id="Selvangivelse">{% trans 'Selvangivelse' %}</h2>
            <p><a href="{% url 'kas:get_pdf' view.year person_tax_year.person.pk %}">{% trans 'Hent selvangivelse PDF' %}</a></p>
        {% endif %}
        <h2 id="Stamdata">{% trans 'Stamdata' %} {% include 'includes/help_text/question_mark.html' with target_id='js-top-collapse' only %}</h2>
        {% blocktrans asvar help_text %}<b>År</b> Viste år for borger.

            <b>Slutlignet</b> Er alle policer for borger i det givne år slutlignede.

            <b>Kræver efterbehandling</b> Er en eller flere policer for borgeren i det givne år markeret til efterbehandling.{% endblocktrans %}
            {% include 'includes/help_text/collapse.html' with help_text=help_text target_id="js-top-collapse" %}
    {% endif %}
  <table class="table table-bordered table-sm" style="width: auto;">
    {% with person=person_tax_year.person %}
    <tbody>
      <tr>
        <th>{% trans 'Cpr-nummer' %}{% include 'includes/help_text/question_mark.html' with target_id='cpr_help' right=True %}</th>
        <td>{{ person.cpr }}</td>
      </tr>
      <tr id="cpr_help" class="collapse">
          <td colspan="2">{% trans 'Cpr-nummer importeret fra mandtal' %}</td>
      </tr>
      <tr>
        <th>{% trans 'Navn' %}{% include 'includes/help_text/question_mark.html' with target_id='name_help' right=True %}</th>
        <td>{{ person.name }}</td>
      </tr>
      <tr id="name_help" class="collapse">
          <td colspan="2">{% trans 'Personnavn importeret fra mandtal' %}</td>
      </tr>
      <tr>
          <th>{% trans 'År' %}{% include 'includes/help_text/question_mark.html' with target_id='year_select_help' right=True %}</th>
          <td>
              {% if historical %}
                  {{ person_tax_year.tax_year.year }}
              {% else %}
              <select class="form-control" id="js-year-select">
                  {% for tax_year in person_tax_years %}
                      <option {% if tax_year == person_tax_year %}selected="selected"{% endif %} value="{% url 'kas:person_in_year' tax_year.year tax_year.person.pk %}">{{tax_year.tax_year.year}} ({{ tax_year.tax_year.get_year_part_display }})</option>
                  {% endfor %}
              </select>
              {% endif %}
          </td>
      </tr>
      <tr id="year_select_help" class="collapse">
          <td colspan="2">{% trans 'Skatteåret der vises informationer for' %}</td>
      </tr>
      <tr>
        <th>{% trans 'Kommunekode' %}{% include 'includes/help_text/question_mark.html' with target_id='municipality_code_help' right=True %}</th>
        <td>{{ person.municipality_code }}</td>
      </tr>
      <tr id="municipality_code_help" class="collapse">
          <td colspan="2">{% trans 'Kommunekode importeret fra mandtal' %}</td>
      </tr>
      <tr>
        <th>{% trans 'Kommunenavn' %}{% include 'includes/help_text/question_mark.html' with target_id='municipality_name_help' right=True %}</th>
        <td>{{ person.municipality_name }}</td>
      </tr>
      <tr id="municipality_name_help" class="collapse">
          <td colspan="2">{% trans 'Kommunenavn importeret fra mandtal' %}</td>
      </tr>
      <tr>
        <th>{% trans 'Adresse' %}{% include 'includes/help_text/question_mark.html' with target_id='joined_address_help' right=True %}</th>
        <td><pre>{{ joined_address }}</pre></td>
      </tr>
      <tr id="joined_address_help" class="collapse">
          <td colspan="2">{% trans 'Personadresse importeret fra mandtal' %}</td>
      </tr>
      <tr>
        <th>{% trans 'Adresse på én linie' %}{% include 'includes/help_text/question_mark.html' with target_id='full_address_help' right=True %}</th>
        <td>{{ person.full_address|default:"" }}</td>
      </tr>
      <tr id="full_address_help" class="collapse">
          <td colspan="2">{% trans 'Personadresse (i en linie) importeret fra mandtal' %}</td>
      </tr>
      <tr>
        <th>{% trans 'Skatteomfang' %}{% include 'includes/help_text/question_mark.html' with target_id='fully_tax_liable_help' right=True %}</th>
        <td>{% if person_tax_year.fully_tax_liable %}{% trans 'Fuldt skattepligtig' %}{% else %}{% trans 'Ikke fuldt skattepligtig' %}{% endif%}</td>
      </tr>
      <tr id="fully_tax_liable_help" class="collapse">
          <td colspan="2">{% trans 'Personens skatteomfang importeret fra mandtal, personen kan være "Fuldt skattepligtig" eller "Ikke fuldt skattepligtig"' %}</td>
      </tr>
      <tr>
        <th>{% blocktrans with year=view.year %}Skattedage i {{ year }}{% endblocktrans %}{% include 'includes/help_text/question_mark.html' with target_id='number_of_days_help' right=True %}</th>
        <td>{{ person_tax_year.number_of_days }}</td>
      </tr>
      <tr id="number_of_days_help" class="collapse">
          <td colspan="2">{% trans 'Personens antal af skattepligtige dage i skatteåret importeret fra mandtal. Der kan være op til 366 dage, og skatteberegningen fastsættes ud fra forholdet mellem antallet af dage og samlede dage i dette skatteår' %}</td>
      </tr>
      <tr>
          <th>{% trans 'Alle bilag og notater behandlet' %}{% include 'includes/help_text/question_mark.html' with target_id='all_documents_and_notes_handled_help' right=True %}</th>
          <td>
              {% if person_tax_year.all_documents_and_notes_handled %}
                  <span>{% trans 'Ja' %}</span>
              {% else %}
                  <form method="POST" action="{% url 'kas:person_in_year_handled' person_tax_year.pk %}">
                  {% csrf_token %}
                  <span>{% trans 'Nej' %} </span><button class="btn btn-success" type="submit">{% trans 'Sæt alle bilag og notater som behandlet' %}</button>
                  </form>

              {% endif %}
          </td>
      </tr>
      <tr id="all_documents_and_notes_handled_help" class="collapse">
          <td colspan="2">{% trans 'Er alle bilag og notater på denne person behandlet' %}</td>
      </tr>
      <tr>
          <th>{% trans 'Slutlignet' %}{% include 'includes/help_text/question_mark.html' with target_id='slutlignet_help' right=True %}</th>
          <td>{% if person_tax_year.slutlignet %}<span>{% trans 'Ja' %}</span>{% else %}<span>{% trans 'Nej' %}</span>{% endif %}</td>
      </tr>
      <tr id="slutlignet_help" class="collapse">
          <td colspan="2">{% trans 'Er der lavet slutligning på denne person' %}</td>
      </tr>
      <tr>
          <th>{% trans 'Kræver efterbehandling' %}{% include 'includes/help_text/question_mark.html' with target_id='efterbehandling_help' right=True %}</th>
          <td>{% if person_tax_year.efterbehandling %}<span>{% trans 'Ja' %}</span>{% else %}<span>{% trans 'Nej' %}</span>{% endif %}</td>
      </tr>
      <tr id="efterbehandling_help" class="collapse">
          <td colspan="2">{% trans 'Er der behov for at udføre efterbehandling på denne person' %}</td>
      </tr>
    </tbody>
    {% endwith %}
  </table>
    {% if not historical %}
    <fieldset class="border pl-4 pb-4 mb-4">
        <legend class="w-auto">{% trans 'Handlinger' %}</legend>
        <a class="btn btn-success" href="{% url 'kas:policy_create' view.year view.person_id %}">{% trans 'Opret ny police' %}</a>
        <a class="btn btn-info" href="{% url 'kas:person_add_notes_or_attachement' person_tax_year.pk %}" >{% trans 'Tilføj bilag/notater' %}</a>
        {% if person_tax_year.tax_year.year_part == 'genoptagelsesperiode' and person_tax_year.policytaxyear_set.exists %}
            <form style="display: inline" method="POST" action="{% url 'kas:generate-final-settlement' person_tax_year.pk %}">
            {% csrf_token %}
                <button class="btn btn-warning" type="submit">{% trans 'Generer ny slutopgørelse' %}</button>
            </form>
        {% endif %}
        <a href="{% url 'kas:person_history_list' person_tax_year.pk %}" class="btn btn-secondary">{% trans 'Vis historik' %}</a>
    </fieldset>
    <div class="mb-2">
        {% include 'includes/help_text/question_mark.html' with target_id='js-nav-collapse' only %}
        {% blocktrans asvar help_text_nav %}<b>Policer</b> Borgerens police for det valgte år. Klik på <b>Police nr.</b> for at gå til police.

            <b>Notater</b> Liste af notater tilknyttet borger eller police

            <b>Bilag</b> Liste af uploadede bilag tilknyttet en borger eller police.

            <b>Notat om betaling i udlandet</b> Borgerudfyldt tekst om betaling af kapitalafkastskat i udlandet.

            <b>Slutopgørelse</b> Genererede og afsendte slutopgørelser.

            <b>Transaktioner</b> Forudindbetalinger og opkrævninger.{% endblocktrans %}
        {% include 'includes/help_text/collapse.html' with help_text=help_text_nav target_id="js-nav-collapse" %}
    </div>
    {% include 'includes/detail_tabs.html' with policy_col=True policies=person_tax_year.policytaxyear_set.all notes=person_tax_year.notes.all attachments=person_tax_year.policydocument_set.all transactions=transactions settlements=person_tax_year.finalsettlement_set.all %}
    <script type="application/javascript">
        $( document ).ready(function() {
            $('select#js-year-select').on('change', function(){
                window.location = this.value;
            });
        });
    </script>
    {% endif %}
{% endblock %}
