{% extends 'kas/layout.html' %}
{% load i18n %}

{% block content %}
  <h1>{% trans 'Policer der kræver efterbehandling' %}</h1>

  <div>
    <form action="" method="GET">
      <table>
        {{ view.form.as_table }}
      </table>
      <input type="submit" value="{% trans 'Søg' %}" class="btn btn-primary" />
    </form>
  </div>

  <hr/>

  {% if policytaxyears %}
  <table class="table table-striped">
    <thead>
    <tr>
      <th>
        {% trans 'Person' as person %}
        {% include 'includes/order_by_link.html' with key="order_by" value="person_tax_year__person__name" text=person %}
      </th>
      <th>
        {% trans 'Pensionsselskab' as pensionsselskab %}
        {% include 'includes/order_by_link.html' with key="order_by" value="pension_company__name" text=pensionsselskab %}
      </th>
      <th>
        {% trans 'Policenummer' as policenummer %}
        {% include 'includes/order_by_link.html' with key="order_by" value="policy_number" text=policenummer %}
      </th>
      <th class="text-right">
        {% trans 'Fortrykt beløb' as fortrykt %}
        {% include 'includes/order_by_link.html' with key="order_by" value="prefilled_amount_nulllast" text=fortrykt %}
      </th>
      <th class="text-right">
        {% trans 'Selvangivet beløb' as selvangivet %}
        {% include 'includes/order_by_link.html' with key="order_by" value="self_reported_amount_nulllast" text=selvangivet %}
      </th>
      <th class="text-right">
        {% trans 'Forskel' as forskel %}
        {% include 'includes/order_by_link.html' with key="order_by" value="difference_nulllast" text=forskel %}
      </th>
      <th class="text-right">
        {% trans 'Forskel i procent' as forskel_pct %}
        {% include 'includes/order_by_link.html' with key="order_by" value="difference_pct_nulllast" text=forskel_pct %}
      </th>
    </tr>
    </thead>
    <tbody>
    {% for policy_tax_year in policytaxyears %}
      {% with persontaxyear=policy_tax_year.person_tax_year %}
      {% with person=persontaxyear.person %}
      {% url 'kas:policy_detail' policy_tax_year.id as policy_url %}
      {% url 'kas:person_in_year' persontaxyear.tax_year.year person.id as person_url %}
      <tr>
        <td><a href="{{ person_url }}">{{ person.name }} ({{ person.cpr }})</a></td>
        <td><a href="{{ policy_url }}">{{ policy_tax_year.pension_company.name }}</a></td>
        <td><a href="{{ policy_url }}">{{ policy_tax_year.policy_number }}</a></td>
        <td class="text-right">{{ policy_tax_year.prefilled_amount|default_if_none:"" }}</td>
        <td class="text-right">{{ policy_tax_year.self_reported_amount|default_if_none:"" }}</td>
        <td class="text-right">{{ policy_tax_year.difference|default_if_none:"" }}</td>
        <td class="text-right">{% if policy_tax_year.difference_pct%}{{ policy_tax_year.difference_pct }} %{% endif %}</td>
      </tr>
    {% endwith %}
    {% endwith %}
    {% endfor %}
    </tbody>
  </table>
  {% else %}
    <p>{% blocktrans with year=view.year %}Ingen policer fundet{% endblocktrans %}</p>
  {% endif %}

  <hr/>

  {% include 'includes/pager.html' %}

{% endblock %}
