{% extends 'kas/layout.html' %}
{% load i18n %}

{% block content %}

<a href="{% url 'kas:person_in_year' view.year view.person_id %}">{% translate 'Tilbage til personskatteåret' %}</a>

<form method="post" enctype="multipart/form-data">
  {% csrf_token %}

  <div class="p-4">
    <table class="table table-bordered table-hover table-striped" style="width: auto;">
      <thead>
        <tr class="table-info">
          <th>{% translate 'Beskrivelse' %}</th>
          <th>{% translate 'Værdi / beløb' %}</th>
          <th>{% translate 'Enhed' %}</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <th>{% translate 'Pensionsselskab' %}</th>
        <td>
          {{ form.pension_company.errors }}
          {{ form.pension_company }}
        </td>
        <td></td>
      </tr>
      <tr>
        <th>{% translate 'Policenummer' %}</th>
        <td>
          {{ form.policy_number.errors }}
          {{ form.policy_number }}
        </td>
        <td></td>
      </tr>
      <tr>
        <th>{% translate 'Selvangivet beløb' %}</th>
        <td>
          {{ form.self_reported_amount.errors }}
          {{ form.self_reported_amount }}
        </td>
        <td>{% translate 'kr' %}</td>
      </tr>
      </tbody>
    </table>
  </div>


  <h2 id="notes">{% translate 'Notat' %}</h2>
  {{ notes_formset }}

  <h2 id="Bilag">{% translate 'Bilag' %}{% include 'includes/help_text/question_mark.html' with target_id='js-billag-collapse' only %}</h2>
    {% blocktranslate asvar bilag_helptext %}For at tilføje et bilag udfyldes felterne for beskrivelse og valg af
    fil og der klikkes på <b>Gem</b> knappen nederst på siden.

    Borgeren vil kunne se beskrivelser og filnavne på bilag som borgeren
    selv har uploadet ved selvangivelse via web. Borgeren kan ikke se bilag vedhæftet
    under sagsbehandlingen via nedenstående formular.{% endblocktranslate %}
    {% include 'includes/help_text/collapse.html' with help_text=bilag_helptext target_id='js-billag-collapse' %}
  {{ upload_formset.management_form }}
  {% for upload_form in upload_formset  %}
  <div class="form-row mt-2" id="upload-row">
    <div class="col">
      {{ upload_form.description }}
    </div>
    <div class="col">
      {{ upload_form.file }}
    </div>
  </div>
  {% endfor %}
    <div class="form-row">
        <div class="ml-auto">
            <button type="submit" class="btn btn-success mt-2 mb-5">{% translate 'Gem' %}</button>
        </div>
    </div>
</form>

{% endblock %}
