{% extends 'kas/layout.html' %}
{% load i18n %}
{% block content %}
  {% if historical %}
    <div class="row float-right">
        <a href="{% url 'kas:policy_history_list' policy.id %}">{% trans 'Tilbage til historik oversigt' %}</a>
    </div>
  <h1>{% blocktrans with name=policy.person_tax_year.person.name year=policy.person_tax_year.tax_year.year history_date=policy.history_date|date:'SHORT_DATETIME_FORMAT' %}{{ name }} i år {{year}} fra <b>{{ history_date }}</b>{% endblocktrans %} {% include 'includes/help_text/question_mark.html' with target_id='js-top-collapse' only %}</h1>
  {% blocktrans asvar top_help with history_date=policy.history_date|date:'SHORT_DATETIME_FORMAT' %} Denne side viser en tidligere version af policen fra <b>{{ history_date }}</b> {% endblocktrans %}
  {% else %}
  <h1>{% blocktrans with number=policy.policy_number company=policy.pension_company.name name=policy.person.name year=policy.year %}Police {{ number }} ved {{ company }} for '{{ name }}' år {{ year}}{% endblocktrans %} {% include 'includes/help_text/question_mark.html' with target_id='js-top-collapse' only%}</h1>
  {% blocktrans asvar top_help %}På denne side kan ses detaljer for den valgte police for det givne år. Der vises beregningen der danner grundlag for skatten og
     en tabel der viser hvordan negativt afkast fra tidligere år eventuelt er blevet anvendt.
    I bunden af siden er det muligt at tilføje notater og vedhæfte bilag på policen.
    Brug navigationsboksen til højre til at hoppe til en bestemt del af siden.{% endblocktrans %}
  {% endif %}
  {% include 'includes/help_text/collapse.html' with help_text=top_help target_id='js-top-collapse' %}
    <h2 id="Stamdata">{% trans 'Stamdata' %}</h2>
    <table class="table table-bordered table-sm" style="width: auto;">
        {% with person=policy.person_tax_year.person %}
            <tbody>
            <tr>
                <th>{% trans 'Policenummer' %}</th>
                <td><b>{{ policy.policy_number }}</b></td>
            </tr>
            <tr>
                <th>{% trans 'Cpr nr og navn' %}</th>
                <td>
                    {% if historical %}
                        {{ person.cpr }} / {{ person.name }}
                    {% else %}
                        <a href="{% url 'kas:person_in_year' policy.person_tax_year.tax_year.year person.pk %}"> {{ person.cpr }} / {{ person.name }}</a>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>{% trans 'År' %}</th>
                <td>
                    {% if historical %}
                        {{ policy.person_tax_year.tax_year.year }}
                    {% else %}
                        <select class="form-control" id="js-year-select">
                        {% for x in policy.same_policy_qs.all %}
                            <option {% if x == policy %}selected="selected"{% endif %} value="{% url 'kas:policy_detail' x.pk %}">{{x.year}}</option>
                        {% endfor %}
                        </select>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>{% trans 'Pensionsselskab' %}</th>
                <td>{{ policy.pension_company.name }}</td>
            </tr>
            <tr>
                <th>{% trans 'R75 beløb' %}</th>
                <td>{% if policy.adjusted_r75_amount %}
                        {{ policy.adjusted_r75_amount }}
                    {% else %}
                        {{ policy.prefilled_amount|default_if_none:'' }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>{% trans 'Selvangivet beløb' %}</th>
                <td>{{ policy.self_reported_amount|default_if_none:'' }}</td>
            </tr>
            <tr>
                <th>{% trans 'Lignet beløb' %}</th>
                <td>{{ policy.get_assessed_amount|default_if_none:'' }}</td>
            </tr>
            <tr>
                <th>{% trans 'Beregnet skat' %}</th>
                <td><a href="#beregnings-tab">{{ calculation.tax_with_deductions }} {% trans 'kr' %}</a></td>
            </tr>
            <tr>
                <th>{% trans 'Slutlignet' %}</th>
                <td>
                    {% if policy.slutlignet %}<span>{% trans 'Ja' %}</span>{% else %}<span>{% trans 'Nej' %}</span>{% endif %}
                </td>
            </tr>
            <tr>
                <th>{% trans 'Kræver efterbehandling' %}</th>
                <td>
                    {% if policy.efterbehandling %}<span>{% trans 'Ja' %}</span>{% else %}<span>{% trans 'Nej' %}</span>{% endif %}
                </td>
            </tr>
            <tr>
                <th>{% trans 'Aktiv' %}</th>
                <td>
                    {% if policy.active %}<span>{% trans 'Ja' %}</span>{% else %}<span style="color:red">{% trans 'Nej' %}</span>{% endif %}
                </td>
            </tr>
            </tbody>
        {% endwith %}
    </table>
    {% if policy.pension_company.agreement_present %}
        <p class="bg-secondary p-2">{% trans 'Pensionsselskabet har aftale med Skattestyrelsen om automatisk betaling' %}</p>
    {% endif %}
    {% if not historical %}
        <fieldset class="border pl-4 pb-4 mb-4">
            <legend  class="w-auto">{% trans 'Handlinger' %}</legend>
            {% if policy.active %}
                <a class="btn btn-info" href="{% url 'kas:policy_add_notes_or_attachement' policy.pk %}">{% trans 'Tilføj bilag/notater' %}</a>
                {% if policy.person_tax_year.tax_year.year_part == 'selvangivelse' %}
                    <a class="btn btn-warning" href="{% url 'kas:change-self-reported-amount' policy.pk %}">{% trans 'Ret selvangivet beløb' %}</a>
                {% else %}
                    <a class="btn btn-warning" href="{% url 'kas:change-edit-amounts' policy.pk %}">{% trans 'Ret beløb' %}</a>
                {% endif %}
                <button type="button" class="btn btn-danger" id="deactivate" data-toggle="modal" data-target="#deactivateModal">{% trans 'Afregistrer' %}</button>
            {% else %}
                <button type="button" class="btn btn-info" disabled="disabled" aria-disabled="true" title="{% trans 'Policen er afregistreret' %}">{% trans 'Tilføj bilag/notater' %}</button>
                {% if policy.person_tax_year.tax_year.year_part == 'selvangivelse' %}
                    <button type="button" class="btn btn-warning" disabled="disabled" aria-disabled="true" title="{% trans 'Policen er afregistreret' %}">{% trans 'Ret selvangivet beløb' %}</button>
                {% else %}
                    <button type="button" class="btn btn-warning"  disabled="disabled" aria-disabled="true" title="{% trans 'Policen er afregistreret' %}">{% trans 'Ret beløb' %}</button>
                {% endif %}
                <form style="display: inline" method="POST" action="{% url 'kas:policy_activate' policy.pk %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">{% trans 'Aktivér' %}</button>
                    <input type="hidden" name="active" value="true"/>
                </form>
            {% endif %}
            <a href="{% url 'kas:policy_history_list' policy.pk %}" class="btn btn-secondary">{% trans 'Vis historik' %}</a>
        </fieldset>
    {% endif %}
    {% include 'includes/detail_tabs.html' with notes=policy.notes.all attachments=policy.policy_documents.all %}

    {# Modal dialog for deactivation confirm #}
    <div class="modal" tabindex="-1" role="dialog" id="deactivateModal" aria-labelledby="deactivateModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deactivateModalLabel">{% trans 'Afregistrer' %}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="{% trans 'Luk' %}">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>{% trans 'Er du sikker på at du vil afregistrere policen for dette skatteår?' %}</p>
          </div>
          <div class="modal-footer">
            <form method="POST" action="{% url 'kas:policy_activate' policy.pk %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger">{% trans 'Afregistrer' %}</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans 'Annullér' %}</button>
              <input type="hidden" name="active" value="false"/>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script type="application/javascript">
        $( document ).ready(function() {
            $('select#js-year-select').on('change', function(){
                window.location = this.value;
            });
        });
    </script>
{% endblock %}
