{% extends 'kas/layout.html' %}
{% load i18n %}

{% block content %}

  {% if request.GET.download %}
    {% url 'kas:policy_summary' object.year request.GET.download as download_url %}
    {% if download_url %}
      {{ download_url|json_script:"download_url" }}
      <script>
        $(function(){
            const download_url = JSON.parse($('#download_url').text());
            if (download_url) {
                document.location = download_url;
            }
        });
      </script>
    {% endif %}
  {% endif %}

  <h1>
    {% blocktrans with year=object.year %}Liste over Policeopsummeringer i år {{year}}{% endblocktrans %}
    {% include 'includes/help_text/question_mark.html' with target_id='help_text' %}
  </h1>

  {% blocktrans asvar summary_help_text %}På denne side kan der genereres opsummeringer pr. pensionsselskab, samt oplistes og hentes allerede genererede opsummeringer.
  For at generere en ny opsummering for et selskab, vælg selskabet i boksen til højre, og tryk på "Generér og hent"
  For at downloade en eksisterende opsummering, tryk på "Download"-linket i den relevante række i tabellen.{% endblocktrans %}

  {% include 'includes/help_text/collapse.html' with help_text=summary_help_text target_id='help_text' %}

  <form method="post">
    {% csrf_token %}
    <div class="form-row">

      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" role="button" id="yearMenuLink" data-toggle="dropdown" aria-expanded="false">
          {% trans 'Skift år' %}
        </button>

        <ul class="dropdown-menu" aria-labelledby="yearMenuLink">
          {% for year in years %}
          <li><a class="dropdown-item" href="{% url 'kas:policy_summary_list' year %}">{{year}}</a></li>
          {% endfor %}
        </ul>
      </div>

      <div class="ml-auto col-2">
        {{ form.pension_company }}
      </div>
      <button type="submit" class="btn btn-primary">{% trans 'Generér og hent' %}</button>

      </div>
  </form>

  <hr/>

  <table class="table">
    <thead>
    <tr>
      <th>{% trans 'Pensionsselskab' %}</th>
      <th>{% trans 'År' %}</th>
      <th>{% trans 'Oprettet af' %}</th>
      <th>{% trans 'Oprettet tidspunkt' %}</th>
      <th>{% trans 'Fil' %}</th>
    </tr>
    </thead>
    <tbody>
    {% for file in object_list %}
    <tr>
      <td>{{file.company.name}}</td>
      <td>{{file.tax_year.year}}</td>
      <td>{{file.creator.username}}</td>
      <td>{{file.created}}</td>
      <td><a href="{% url 'kas:policy_summary' object.year file.id %}">{% trans 'Download' %}</a></td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="4">
        {% trans 'Ingen filer' %}
      </td>
    </tr>
    {% endfor %}
    </tbody>
  </table>

  {% include 'includes/pager.html' %}

{% endblock %}
