{% extends 'kas/layout.html' %}
{% load i18n %}
{% block content %}
  <h1>{% blocktrans with number=policy.policy_number company=policy.pension_company.name name=policy.person.name year=policy.year %}Police {{ number }} ved {{ company }} for '{{ name }}' år {{ year}}{% endblocktrans %} {% include 'includes/help_text/question_mark.html' with target_id='js-top-collapse' only%}</h1>
  {% blocktrans asvar top_help %}På denne side kan ses detaljer for den valgte police for det givne år. Der vises beregningen der danner grundlag for skatten og
     en tabel der viser hvordan negativt afkast fra tidligere år eventuelt er blevet anvendt.
    I bunden af siden er det muligt at tilføje notater og vedhæfte bilag på policen.
    Brug navigationsboksen til højre til at hoppe til en bestemt del af siden.{% endblocktrans %}
  {% include 'includes/help_text/collapse.html' with help_text=top_help target_id='js-top-collapse' %}
    <h2 id="Stamdata">{% trans 'Stamdata' %}</h2>
    <table class="table table-bordered table-sm" style="width: auto;">
        {% with person=policy.person_tax_year.person %}
            <tbody>
            <tr>
                <th>{% trans 'Cpr nr og navn' %}</th>
                <td><a href="{% url 'kas:person_in_year' policy.person_tax_year.tax_year.year person.pk %}"> {{ person.cpr }} / {{ person.name }}</a></td>
            </tr>
            <tr>
                <th>{% trans 'År' %}</th>
                <td>
                    <select class="form-control" id="js-year-select">
                    {% for x in policy.same_policy_qs.all %}
                        <option {% if x == policy %}selected="selected"{% endif %} value="{% url 'kas:policy_detail' x.pk %}">{{x.year}}</option>
                    {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <th>{% trans 'Pensionsselskab' %}</th>
                <td>{{ policy.pension_company.name }}</td>
            </tr>
            <tr>
                <th>{% trans 'Policenummer' %}</th>
                <td>{{ policy.policy_number }}</td>
            </tr>
            <tr>
                <th>{% trans 'R75 beløb' %}</th>
                <td>{% if policy.adjusted_r75_amount %}
                        {{ policy.adjusted_r75_amount }}
                    {% else %}
                        {{ policy.prefilled_amount|default_if_none:'' }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>{% trans 'Selvangivet beløb' %}</th>
                <td>{{ policy.self_reported_amount|default_if_none:'' }}</td>
            </tr>
            <tr>
                <th>{% trans 'Lignet beløb' %}</th>
                <td>{{ policy.get_assessed_amount|default_if_none:'' }}</td>
            </tr>
            <tr>
                <th>{% trans 'Beregnet skat' %}</th>
                <td><a href="#beregnings-tab">{{ calculation.tax_with_deductions }} {% trans 'kr' %}</a></td>
            </tr>
            <tr>
                <th>{% trans 'Aktiv' %}</th>
                <th>
                    {% if policy.active %}<span>{% trans 'Ja' %}</span>{% else %}<span style="color:red">{% trans 'Nej' %}</span>{% endif %}
                </th>
            </tr>
            </tbody>
        {% endwith %}
    </table>
    {% if policy.pension_company.agreement_present %}
        <p class="bg-secondary p-2">{% trans 'Pensionsselskabet har aftale med Skattestyrelsen om automatisk betaling' %}</p>
    {% endif %}
    <fieldset class="border pl-4 pb-4 mb-4">
        <legend  class="w-auto">{% trans 'Handlinger' %}</legend>
        <a class="btn btn-info" href="{% url 'kas:policy_add_notes_or_attachement' policy.pk %}">{% trans 'Tilføj bilag/notater' %}</a>
        {# TODO figure out when the button needs to be enabled/disabled. #}
        <a class="btn btn-warning" href="{% url 'kas:change-self-reported-amount' policy.pk %}">{% trans 'Ret selvangivet beløb' %}</a>
        <a class="btn btn-warning" href="{% url 'kas:change-edit-amounts' policy.pk %}">{% trans 'Ret beløb' %}</a>
        {% if policy.active %}
            <button type="button" class="btn btn-danger" id="deactivate" data-toggle="modal" data-target="#deactivateModal">{% trans 'Afregistrer' %}</button>
        {% else %}
            <form style="display: inline" method="POST" action="{% url 'kas:policy_activate' policy.pk %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">{% trans 'Aktivér' %}</button>
                <input type="hidden" name="active" value="true"/>
            </form>
        {% endif %}
    </fieldset>

    {% include 'includes/detail_tabs.html' with notes=policy.notes.all attachments=policy.policy_documents.all %}



    {# Modal dialog for deactivation confirm #}
    <div class="modal" tabindex="-1" role="dialog" id="deactivateModal" aria-labelledby="deactivateModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deactivateModalLabel">{% trans 'Afregistrer' %}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="{% trans 'Luk' %}">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>{% trans 'Er du sikker på at du vil afregistrere policen for dette skatteår?' %}</p>
          </div>
          <div class="modal-footer">
            <form method="POST" action="{% url 'kas:policy_activate' policy.pk %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger">{% trans 'Afregistrer' %}</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans 'Annullér' %}</button>
              <input type="hidden" name="active" value="false"/>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script type="application/javascript">
        $( document ).ready(function() {
            $('select#js-year-select').on('change', function(){
                window.location = this.value;
            });
        });
    </script>
{% endblock %}
