{% extends 'kas/layout.html' %}
{% load i18n %}

{% block content %}
<h2>{% translate 'Personer og policer' %}</h2>
<p>{% blocktranslate %}
    Velkommen til KAS. Klik på årstallet for det skatteår du vil arbejde med i tabellen herunder.
{% endblocktranslate %}</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
            {% for year in years%}
            <th><a href="{% url 'kas:person_search' %}?year={{year}}">{{ year }}</a></th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>{% translate 'Personer' %}</th>
            {% for count in persons %}
            <td>{{ count }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>{% translate 'Policer' %}</th>
            {% for count in policies %}
            <td>{{ count }}</td>
            {% endfor %}
        </tr>
    </tbody>
</table>

<h2>{% translate 'Kildedata' %}</h2>

<p>{% translate 'Data kopieret fra kildesystemer, der er klar til at blive konverteret til arbejdsdata' %}</p>

<table class="table">
    <thead>
        <tr>
            <th></th>
            {% for year in years%}
            <th>{{ year }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>{% translate 'Mandtal' %}</th>
            {% for count in imported_mandtal %}
            <td>{{ count }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>{% translate 'R75' %}</th>
            {% for count in imported_r75 %}
            <td>{{ count }}</td>
            {% endfor %}
        </tr>
    </tbody>
</table>

{% if show_mockup %}

<h2>{% translate 'Mockup data' %}</h2>

<p>{% translate 'Mockup data der er klar til at blive importeret' %}</p>

<table class="table">
    <thead>
        <tr>
            <th></th>
            {% for year in years%}
            <th>{{ year }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>{% translate 'Mandtal' %}</th>
            {% for count in mockup_mandtal %}
            <td>{{ count }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>{% translate 'R75' %}</th>
            {% for count in mockup_r75 %}
            <td>{{ count }}</td>
            {% endfor %}
        </tr>
    </tbody>
</table>



{% endif %}



{% endblock %}
