{% extends 'kas/layout.html' %}
{% load i18n %}

{% block content %}
{% if timed_out %}
<h1>{% translate 'Tidsfrist udløbet' %}</h1>
<p>{% translate 'Det lykkedes ikke at opdatere mandtal inden for 60 sekunder.' %}</p>
<p><a href="{% url 'kas:person_in_year' year=person_tax_year.year person_id=person_tax_year.person.pk %}">{% translate 'Klik her for at vende tilbage til personskatteåret.' %}</a></p>
{% else %}
<p>{% translate 'Venter på opdatering af mandtal' %}, {{ elapsed }} {% translate 'sekunder siden import blev sat i gang.'%}</p>
<script nonce="{{ request.csp_nonce }}">
    // reload page every two seconds
    setTimeout(function() {
        document.location.href=document.location.href;
    }, 2000);
</script>
{% endif %}
{% endblock %}
