input.form-control[type=checkbox] {
    width: auto;
}

ul.errorlist {
    list-style-type: none;
    padding-left: 0;
    color: #ff0000;
}

td ul.errorlist {
    margin-bottom: 0;
}

table.table tr td > a:only-child {
    display:block;
    height:100%;
    width:100%;
}
/* Firefox-specific beautification of select dropdown buttons - rather than have an ugly grey box, put in a nice arrow */

@media screen and (min--moz-device-pixel-ratio:0) {
    select.form-control:not([multiple]) {
        padding-right: 25px;
        background-image: url("data:image/svg+xml,\
            <svg version='1.1' xmlns='http://www.w3.org/2000/svg' width='10px' height='10px' viewBox='0 0 1000 1000' fill='rgb(51,51,51)'>\
                <path d='M900 400 l -800 0 l 400 400 z'/>\
            </svg>") !important;
        background-repeat: no-repeat;
        background-position: calc(100% - 7px) 50%;
        -moz-appearance: none;
        appearance: none;
    }
}
/* table helpers */
.w-20 {
    width: 20% !important;
}
.w-10 {
    width: 10% !important;
}
.w-5 {
    width: 5% !important;
}

.custom-file-label {
    margin-left: 5px;
    margin-right: 5px;
}

.dev_globalheader {
    background-color: #FF6600;
    position: top;
    width: 100%;
    z-index: 999;
} 

.dev_textheader {
    position : absolute;
    text-align: right;
    font-size : 30px;
    z-index : 9999;
    right : 5px;
    margin-top: -8px;
}

.dev_watermark {
    position : fixed;
    bottom : 5px;
    right : 5px;
    opacity : 0.5;
    z-index : -1;
    color : black;
    font-size : 30px;
    text-align : right;
}
