*.pyc
*.mo
env/
.idea/
docker-compose.override.yml
data/kas/*
data/er/*
!data/kas/.gitkeep
.spyproject/**
# Generated documentation
kas/kas/static/doc/er_html/
kas/kas/static/doc/kas_models.png
/kas/.coverage


**/__pycache__
**/.venv*
**/.vscode