{% extends 'kas/layout.html' %}
{% load i18n %}

{% block content %}
    {% blocktrans asvar header with policy_number=object.policy_number name=object.person_tax_year.person.name %}Tilføj notat og eller bilag til police nr. {{policy_number}}(for {{ name }}){% endblocktrans %}
    {% blocktrans asvar notes_helptext %}Her vises en liste af notater tilknyttet policen. Notaterne findes kun i KAS systemet og kan ikke ses af borgeren.
    For at tilføje et nyt notat udfyldes 'Nyt notat' feltet og der klikkes på 'Gem' knappen nederst på siden.
    Bilag kan tilknyttes sammen med notatet ved at udfylde bilag-felterne nedenfor.{% endblocktrans %}

    {% blocktrans asvar bilag_helptext %}Her vises en liste af bilag tilknyttet policen.
    For at tilføje et nyt bilag udfyldes felterne for beskrivelse og valg af fil og der klikkes på 'Gem' knappen nederst på siden.
    Borgeren vil kunne se beskrivelser og filnavne på bilag som borgeren
    selv har uploadet ved selvangivelse via web. Borgeren kan ikke se bilag som er vedhæftet
    under sagsbehandlingen via nedenstående formular.{% endblocktrans %}

    {% include 'includes/single_notes_and_attachment_form.html' with notes_helptext=notes_helptext bilag_helptext=bilag_helptext target=object%}

{% endblock %}
