{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load l10n %}

{% block content %}

{% include "nav-tabs.html" with active=current_nav %}

<div class="container">

    <a href="{% url 'selvbetjening:policy-view' year=year %}">{% translate 'Tilbage' %}</a>

    <p>{% blocktrans with number_of_days=person_tax_year.number_of_days %}Antal skattepligtige dage i skatteår: {{number_of_days}}{% endblocktrans %}</p>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.management_form }}
        <div>
        <div class="accordion" id="policies">
            {% for policyform in form %}
            {% with policydata=data|get:policyform.id.value %}
            <div class="policyform accordion-item">
                {% for hidden_field in policyform.hidden_fields %}
                {{ hidden_field }}
                {% endfor %}
                <h2 class="accordion-header" id="heading{{ forloop.counter }}">
                    {# Expand if (not form.errors and first) or (form.errors and policyform.errors) #}
                    {% if not form.errors and forloop.first or form.errors and policyform.errors %}
                    <button class="accordion-button expanded" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ forloop.counter }}" aria-expanded="true" aria-controls="collapse{{ forloop.counter }}">
                    {% else %}
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ forloop.counter }}" aria-expanded="false" aria-controls="collapse{{ forloop.counter }}">
                    {% endif %}
                        {% if policyform.id.value is None %}
                        {% translate 'Angiv ny police' %}
                        {% else %}
                        {% blocktrans with company=policydata.pension_company.name policy=policyform.policy_number.value %}{{ company }}, Police nr {{ policy }}{% endblocktrans %}
                        {% endif %}
                    </button>
                </h2>
                <div id="collapse{{ forloop.counter }}" class="accordion-collapse collapse {% if not form.errors and forloop.first or form.errors and policyform.errors %}show{% endif %}" aria-labelledby="heading{{ forloop.counter }}" data-bs-parent="#policies">
                    <div class="accordion-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="col-2-sm">{% translate 'Feltnavn' %}</th>
                                    <th class="col-6-sm">{% translate 'Beskrivelse' %}</th>
                                    <th class="col-4-sm">{% translate 'Felt' %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if policyform.id.value is None %}
                                <tr>
                                    <td class="col-2-sm">{% translate 'Pensionsselskab' %}</td>
                                    <td class="col-6-sm"></td>
                                    <td class="col-4-sm">
                                        {% include 'include/field.html' with field=policyform.pension_company_id %}
                                        {% include 'include/field.html' with field=policyform.pension_company_name %}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-2-sm">{% translate 'Policenummer' %}</td>
                                    <td class="col-6-sm"></td>
                                    <td class="col-4-sm">
                                        {% include 'include/field.html' with field=policyform.policy_number_new %}
                                    </td>
                                </tr>
                                {% endif %}

                                <tr>
                                    <td class="col-2-sm">{% translate 'Kapitalafkast PBL (DK) § 53 A' %}</td>
                                    <td class="col-6-sm">
                                        {% if policyform.prefilled_amount.value is not None %}
                                        {% blocktrans with value=policyform.prefilled_amount.value|localize %}Vores beregning: {{value}}{% endblocktrans %}
                                        {% else %}
                                        {% endif %}
                                    </td>
                                    <td class="col-4-sm">
                                        <label for="{{policyform.self_reported_amount.id_for_label}}">{% if policyform.prefilled_amount.value is None %}{% translate 'Beløb:' %}{% else %}{% translate 'Deres rettelse:' %}{% endif %}</label>
                                        {% include 'include/field.html' with field=policyform.self_reported_amount %}
                                    </td>
                                </tr>


                                {% if policydata.pension_company.agreement %}
                                <tr>
                                    <td class="col-12-sm" colspan="4">{% translate 'Skatten for denne pensionsordning betales automatisk af pensionsselskabet' %}</td>
                                </tr>
                                {% endif %}

                                <tr>
                                    <td class="col-2-sm">{% translate 'Dokumentation for betalt kapitalafkastskat' %}</td>
                                    <td class="col-6-sm">
                                        {% if policydata.pension_company.agreement %}
                                        {% translate 'Vedhæft dokumentation for betalt kapitalafkastskat i udlandet.' %}
                                        {% else %}
                                        {% translate 'Vedhæft dokumentation for betalt kapitalafkastskat. Dokumentation for betaling både i Grønland og i udlandet kan vedhæftes her.' %}
                                        {% endif %}
                                    </td>
                                    <td class="col-4-sm file_container">

                                        {% for field in policyform %}
                                        {% if field.name|startswith:'file_existing_id' %}
                                        <div class="doc_file_existing">
                                            {{ field }}
                                            {% with field.keep_field as keep_field %}
                                            <label for="{{ keep_field.id_for_label }}">{{ keep_field }}{{ keep_field.label }}</label>
                                            {% endwith %}
                                            {{ field.description_field }}
                                        </div>
                                        {% endif %}
                                        {% endfor %}

                                        <div class="doc_file prototype" style="display:none">
                                            {{ policyform.file_file_0 }}
                                            <button type="button" class="close" title="{% translate 'Fjern' %}"></button>
                                            {{ policyform.file_description_0 }}
                                        </div>
                                        {% for field in policyform %}
                                            {% if field.name|startswith:'file_file' and field.value is not None %}
                                            <div class="doc_file">
                                                {{ field }}
                                                <button type="button" class="close" style="display:none"></button>
                                                {% with field.name|after:'file_file_' as id %}
                                                {% with 'file_description_'|addstr:id as desc_id %}
                                                {{ policyform|get:desc_id }}
                                                {% endwith %}
                                                {% endwith %}
                                            </div>
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% endwith %}
            {% endfor %}
        </div>

        <div class="row">
            <label>
                {% blocktrans %}Er der yderligere information, som skal selvangives i forbindelse med udfyldelsen af KAS-selvangivelse?{% endblocktrans %}
            </label>
            {{ extra_form.general_notes }}
        </div>

        <div class="row">

            <label>
                {% blocktrans %}Privat indbetaling til pensionsordninger i andre lande. Angiv landet, som pensionsordningen er hjemmehørende i, samt størrelsen på det indskudte beløb{% endblocktrans %}
            </label>
            {{ extra_form.foreign_pension_notes }}
        </div>
        </div>


        <button class="btn-primary">{% translate 'Indsend' %}</button>
        </form>
    <script>
        $(function(){
            // If all file rows are set (has a value), create a new empty row
            const updateRows = function(animate) {
                const policyform = $(this);
                const container = policyform.find(".file_container");
                const rows = container.find(".doc_file").not(".prototype");
                let allFilled = true;
                if (animate !== false) {
                    animate = true;
                }
                rows.each(function() {
                    const $this = $(this);
                    const fileField = $this.find("input[type=file]");
                    const filled = (fileField.val() !== undefined && fileField.val() !== '');
                    $this.find("button").toggle(filled);
                    if (!filled) {
                        allFilled = false;
                    }
                });
                if (allFilled) {
                    const clone = container.find(".doc_file.prototype").first().clone();
                    clone.removeClass("prototype");
                    clone.find("input").val('');
                    const m = /id_form-(\d+)-file_file/.exec(clone.find("input[type=file]").attr("id"));
                    const form_index = m ? m[1] : policyform.index();
                    const row_index = firstIdleIndex(container);
                    const file_name = "form-"+form_index+"-file_file_"+row_index;
                    clone.find("input[type=file]").attr({"id": "id_"+file_name, "name": file_name});
                    const text_name = "form-"+form_index+"-file_description_"+row_index;
                    clone.find("input[type=text]").attr({"id": "id_"+text_name, "name": text_name});
                    clone.change(updateRows.bind(policyform));
                    clone.find(".close").click(removeRow).hide();
                    container.append(clone);
                    if (animate) {
                        clone.slideDown();
                    } else {
                        clone.show();
                    }
                }
            }

            const getRowIndexes = function(container) {
                const indexes = {};
                container.find(".doc_file").not(".prototype").each(function(){
                    const id = $(this).find("input[type=file]").attr("id");
                    const s = id.lastIndexOf("_");
                    if (s !== -1) {
                        indexes[id.substring(s+1)] = $(this);
                    }
                });
                return indexes;
            };

            const firstIdleIndex = function(container) {
                const indexes = getRowIndexes(container);
                let i=0;
                while (indexes[""+i]) {
                    i++;
                }
                return i;
            }

            const removeRow = function() {
                const row = $(this).parent(".doc_file");
                row.slideUp(400, function(){
                    row.remove();
                });
            }

            $(".policyform").each(function() {
                $(this).find(".doc_file").change(updateRows.bind(this));
                $(this).find(".doc_file .close").click(removeRow);
                updateRows.call(this, false);
            });

            $("form").submit(function() {
                $('.doc_file.prototype').remove();
            });

            const changeCompanySelect = function() {
                const $this = $(this);
                const explicit = $this.siblings(".company_explicit");
                if ($(this).val()) {
                    explicit.attr("disabled", "disabled");
                } else {
                    explicit.removeAttr("disabled");
                }
            }
            $(".policyform .company_select").change(changeCompanySelect);
            $(".policyform .company_select").each(changeCompanySelect);
        });
    </script>
</div>
{% endblock %}
