{% load i18n %}
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav nav-tabs navbar-nav">
                {% for person_tax_year in person_tax_years.latest %}
                {% with tabyear=person_tax_year.tax_year.year %}
                <li class="nav-item">
                    {% if year == tabyear %}
                    <a href="#" class="nav-link active">{{ tabyear }}</a>
                    {% else %}
                    <a href="{% url 'selvbetjening:policy-view' year=tabyear %}" class="nav-link">{{ tabyear }}</a>
                    {% endif %}
                </li>
                {% endwith %}
                {% endfor %}

                {% with first_prior=person_tax_years.prior|first %}
                {% if first_prior %}
                <li class="nav-item">
                    <a href="{% url 'selvbetjening:policy-prior-view' year=first_prior.tax_year.year %}" class="nav-link {% if prior %}active{% endif %}">{% blocktrans %}Tidligere skatteår{% endblocktrans %}</a>
                </li>
                {% endif %}
                {% endwith %}
            </ul>
        </div>
    </div>
</nav>
