{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}


<div class="container">
    <div class="row">
        <div class="col-4">
            <p data-trans="test-text">{% trans "test-text" %}</p>
        </div>

        <div class="col-4">
            <label for="inputfield">Inputfelt:</label>
            <input type="text" id="inputfield"/>
        </div>

        <div class="col-4">
            <label for="selectfield">Dropdown:</label>
            <select id="selectfield">
                <option>Værdi 1</option>
                <option>Værdi 2</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="offset-8-sm col-4">
            <button>Knap</button>
        </div>
    </div>
</div>

{% endblock %}
