{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}

{% include "nav-tabs.html" with active=current_nav %}

<div class="container">

    {% if person_tax_years.all|length == 0 %}
    <p>{% translate 'Du er ikke kendt i systemet' %}</p>
    {% else %}

    {% if prior %}
        <div class="row mb-3">
            <label for="select_year" class="col-sm-1 p-3 col-form-label col-form-label-sm">{% translate 'Skatteår:' %}</label>
            <div class="col-sm-2">
                <select name="year" id="select_year" data-change-href="/policy/prior/{value}/" autocomplete="off">
                    {% for prior_person_tax_year in person_tax_years.prior %}
                        {% with prior_year=prior_person_tax_year.tax_year.year %}
                        <option value="{{ prior_year }}" {% if prior_year == year %} selected="selected"{% endif %}>
                            {{ prior_year }}
                        </option>
                        {% endwith %}
                    {% endfor %}
                </select>
            </div>
        </div>
    {% endif %}

    <script nonce="{{ request.csp_nonce }}">
        $("select[data-change-href]").change(function(){
            const $this = $(this);
            window.location = $this.attr("data-change-href").replaceAll("{value}", $this.val());
        });
    </script>

    {% if year == latest_year %}
        {% if latest_tax_year.year_part == 'selvangivelse' %}
            <a class="btn btn-primary" href="{% url 'selvbetjening:policy-edit' %}">{% translate 'Ret selvangivelse' %}</a>
        {% else %}
            <p>{% translate 'Der kan ikke ændres på selvangivelsen på nuværende tidspunkt' %}</p>
        {% endif %}
    {% endif %}

    {% if final_settlement_exists %}
        <a class="btn btn-primary" href="{% url 'selvbetjening:final-settlement' year=year %}">{% translate 'Hent slutopgørelse' %}</a>
    {% endif %}

    <div class="accordion" id="policies">

        {% for policy in items %}
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading{{ forloop.counter }}">
                <button class="accordion-button {% if not forloop.first %}collapsed{% endif %} " type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ forloop.counter }}" aria-expanded="{% if forloop.first %}true{% else %}false{% endif %}" aria-controls="collapse{{ forloop.counter }}">
                    {{ policy.pension_company.name }}, Police nr {{ policy.policy_number }}
                </button>
            </h2>
            <div id="collapse{{ forloop.counter }}" class="accordion-collapse collapse {% if forloop.first %}show{% endif %}" aria-labelledby="heading{{ forloop.counter }}" data-bs-parent="#policies">
                <div class="accordion-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="col-7-sm">{% translate 'Feltnavn' %}</th>
                                <th class="col-3-sm">{% translate 'Antal skattepligtsdage' %}</th>
                                {% if policy.self_reported_amount %}
                                    <th class="col-3-sm">{% translate 'Selvangivet' %}</th>
                                {% else%}
                                    <th class="col-3-sm">{% translate 'Fortrykt' %}</th>
                                    <th class="col-3-sm">{% translate 'Forholdsmæssigt i skattepligtsperioden' %}</th>
                                {% endif %}
                                <th class="col-3-sm">{% translate 'Felt nr.' %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="col-7-sm">{% translate 'Kapitalafkast PBL (DK) § 53 A' %}</td>
                                <td class="col-3-sm">{{ person_tax_year.number_of_days }}</td>
                                {% if policy.self_reported_amount %}
                                    <td class="col-3-sm">{{ policy.self_reported_amount }}</td>
                                {% else %}
                                    <td class="col-3-sm">{{ policy.prefilled_amount }}</td>
                                    <td class="col-3-sm">{{ policy.year_adjusted_amount }}</td>
                                {% endif %}
                                <td class="col-3-sm">KAS-201</td>
                            </tr>

                            {% for document in policy.policy_documents %}
                            <tr>
                                {% if forloop.first %}
                                <td class="col-8-sm" rowspan="{{ policy.policy_documents|length }}">{% translate 'Dokumentation' %}</td>
                                {% endif %}
                                <td class="col-4-sm" colspan="2">{{ document.name }} | {{ document.description }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
        {% endfor %}

        <div class="accordion-item">
            <h2 class="accordion-header" id="heading_notes">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_notes" aria-expanded="false" aria-controls="collapse_notes">
                    {% translate 'Yderligere information til selvangivelsen.' %}
                </button>
            </h2>
            <div id="collapse_notes" class="accordion-collapse collapse" aria-labelledby="heading_notes">
                <div class="accordion-body">
                    {% translate 'Ingen noter' as no_notes %}
                    <p>{{ person_tax_year.foreign_pension_notes|default:no_notes }}</p>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="heading_foreign">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_foreign" aria-expanded="false" aria-controls="collapse_foreign">
                    {% translate 'Indbetaling til private pensionsordninger i andre lande.' %}
                </button>
            </h2>
            <div id="collapse_foreign" class="accordion-collapse collapse" aria-labelledby="heading_foreign">
                <div class="accordion-body">
                    {% translate 'Ingen noter' as no_notes %}
                    <p>{{ person_tax_year.general_notes|default:no_notes }}</p>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="heading_summary">
                <button class="accordion-button {% if not forloop.first %}collapsed{% endif %} " type="button" data-bs-toggle="collapse" data-bs-target="#collapse_summary" aria-expanded="{% if forloop.first %}true{% else %}false{% endif %}" aria-controls="collapse_summary">
                    {% translate 'Opsummering' %}
                </button>
            </h2>
            <div id="collapse_summary" class="accordion-collapse collapse {% if forloop.first %}show{% endif %}" aria-labelledby="heading_summary" data-bs-parent="#policies">
                <div class="accordion-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th class="col-8-sm">{% translate 'Feltnavn' %}</th>
                            <th class="col-3-sm">{% translate 'Værdi' %}</th>
                            <th class="col-1-sm">{% translate 'Felt nr.' %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="col-8-sm">{% translate 'Kapitalafkast PBL (DK) § 53 A' %}</td>
                            <td class="col-3-sm">{{ summary.self_reported_amount|default:summary.prefilled_adjusted_amount }}</td>
                            <td class="col-1-sm">KAS-201</td>
                        </tr>
                        <tr>
                            <td class="col-8-sm">{% translate 'Forudbetalt kapitalafkastskat' %}</td>
                            <td class="col-3-sm">{{ summary.preliminary_paid_amount|default:0 }}</td>
                            <td class="col-1-sm">KAS-205</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    {% endif %}
</div>
{% endblock %}
