{% extends 'kas/layout.html' %}
{% load i18n %}
{% block content %}

<div class="container">
    <h1>{{ batch }}</h1>

    <dl class="row">
        <dt class="col-sm-2">{% translate 'Oprettet' %}</dt>
        <dd class="col-sm-10">{{ batch.created|date:"SHORT_DATETIME_FORMAT" }}</dd>
        <dt class="col-sm-2">{% translate 'Oprettet af' %}</dt>
        <dd class="col-sm-10">{{ batch.created_by }}</dd>

    <dt class="col-sm-2">{% translate 'Status' %}</dt>
    <dd class="col-sm-10">{{ batch.get_status_display }}</dd>

    {% if batch.delivery_error %}
        <dt class="col-sm-2">{% translate 'Afsendelsesfejl' %}</dt>
        <dd class="col-sm-10">{{ batch.delivery_error }}</dd>
    {% endif %}

    {% if jobs %}
        <dt class="col-sm-2">{% translate 'Fremskridt' %}</dt>
        {% for job in jobs %}
        <dd class="col-sm-10{% if not forloop.first %} offset-sm-2{% endif %}">
            {% include 'worker/includes/progress_bar.html' with job=job %}
        </dd>
        {% endfor %}
    {% endif %}

    {% if batch.delivered %}
        <dt class="col-sm-2">{% translate 'Sendt' %}</dt>
        <dd class="col-sm-10">{{ batch.delivered|date:"SHORT_DATETIME_FORMAT" }}</dd>
        <dt class="col-sm-2">{% translate 'Sendt af' %}</dt>
        <dd class="col-sm-10">{{ batch.delivered_by }}</dd>
    {% endif %}
    </dl>

    <div>
        <a href="{% url 'prisme:batch-download' pk=batch.pk %}" role="button" class="btn btn-primary">{% translate 'Hent fil' %}</a>
        {% if perms.prisme.add_prisme10qbatch and batch.status == batch_class.STATUS_CREATED or batch.status == batch_class.STATUS_DELIVERY_FAILED %}
        <a href="{% url 'prisme:batch-send' pk=batch.pk %}" role="button" class="btn btn-primary">{% translate 'Send til Prisme' %}</a>
        {% endif %}
    </div>

    <div class="my-3">
        <table class="table table-bordered table-sm">
            <thead>
            <tr>
                <th>{% translate 'Person' %}</th>
                <th>{% translate 'Slutopgørelse' %}</th>
                <th>{% translate 'Status' %}</th>
                <th>{% translate 'Oprettet' %}</th>
                <th>{% translate 'Beløb' %}</th>
            </tr>
            </thead>
            <tbody>
            {% for transaction in object_list %}
                {% with final_settlement=transaction.source_object person_tax_year=transaction.source_object.person_tax_year %}
                <tr>
                    <td><a href="{% url 'kas:person_in_year' person_tax_year.year person_tax_year.person.pk %}">{{ person_tax_year.person.name }}</a></td>
                    <td><a href="{% url 'kas:final_settlement_download' final_settlement.uuid %}">{% translate 'Vis slutopgørelse'%}</a></td>
                    <td>{{ transaction.get_status_display }}</td>
                    <td>{{ transaction.created_at|date:"SHORT_DATETIME_FORMAT" }}</td>
                    <td>{{ transaction.amount }}</td>
                </tr>
                {% endwith %}
            {% empty %}
                <tr>
                    <td colspan="5">{% translate 'Ingen transaktioner fundet' %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% include 'includes/pager.html' %}
    </div>
</div>

{% endblock %}
