{% extends 'kas/layout.html' %}
{% load i18n %}
{% block content %}

    <h1>
        {% trans 'Prisme-overførsler' %}
        {% include 'includes/help_text/question_mark.html' with target_id='help_text' %}
    </h1>

    {% blocktrans asvar batch_help_text %}På denne side oplistes de transaktionsbatches der er oprettet til overførsel til Prisme.
        En transaktionsbatch er en samling af transaktioner, formateret til import i Prisme, der overføres samlet som en fil.
        Ved klik på de enkelte rækker vises detaljer for det enkelte batch, hvor data også kan downloades, og der kan afsendes batches til prisme som ikke allerede er sendt.{% endblocktrans %}
    {% include 'includes/help_text/collapse.html' with help_text=batch_help_text target_id='help_text' %}

    <table class="table">
        <thead>
        <tr>
            <th class="col-sm-2">{% trans 'Skatteår' %}</th>
            <th class="col-sm-2">{% trans 'Oprettet' %}</th>
            <th class="col-sm-2">{% trans 'Oprettet af' %}</th>
            <th class="col-sm-2">{% trans 'Status' %}</th>
            <th class="col-sm-2">{% trans 'Sendt' %}</th>
            <th class="col-sm-2">{% trans 'Sendt af' %}</th>
        </tr>
        </thead>
        <tbody>
        {% for batch in batches %}
        {% url 'prisme:batch' pk=batch.pk as batch_url %}
        <tr>
            <td><a href="{{batch_url}}">{{ batch.tax_year.year }}</a></td>
            <td><a href="{{batch_url}}">{{ batch.created|date:"SHORT_DATETIME_FORMAT" }}</a></td>
            <td><a href="{{batch_url}}">{{ batch.created_by }}</a></td>
            <td><a href="{{batch_url}}">{{ batch.get_status_display }}</a></td>
            <td><a href="{{batch_url}}">{{ batch.delivered|default_if_none:'' }}</a></td>
            <td><a href="{{batch_url}}">{{ batch.delivered_by|default_if_none:'' }}</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
