{% extends 'worker/layout.html' %}
{% load i18n %}
{% block content %}
<div>
    <form action="{% url 'worker:control_job' %}" method="POST">
        {% csrf_token %}
        {{ form }}
        <input class="btn btn-warning" type="submit" value="{% trans 'Start slow job' %}">
    </form>

    <form action="{% url 'worker:control_job' %}" method="POST">
        {% csrf_token %}
        {{ children_form }}
        <input class="btn btn-primary" type="submit" value="{% trans 'Start job with childen' %}">
    </form>

    <form action="{% url 'worker:control_job' %}" method="POST">
        {% csrf_token %}
        {{ exception_form }}
        <input class="btn btn-danger" type="submit" value="{% trans 'Failing job' %}">
    </form>

    <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                {% include 'worker/includes/progress_bar.html' with job=latest_job %}
            </div>
            <div id="collapseOne" class="collapse{% if not latest_job.all_completed %} show{% endif %}" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div id="js-child-jobs" class="card-body">
                    {% for job in latest_job.job_set.all %}
                    <div class="col-lg-4 mb-3">
                        {% include 'worker/includes/progress_bar.html' with job=job %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% if latest_job and not latest_job.all_completed %}
<script type="application/javascript">
    function addChildProgressBar(data){
        let div = document.getElementById('js-child-jobs')
        let outerDiv = document.createElement('div');
        outerDiv.className = 'progress';
        let progressBar = document.createElement('div');
        progressBar.id = data['id'];
        progressBar.innerHTML = data['title'];
        outerDiv.appendChild(progressBar);
        let colDiv = document.createElement('div');
        colDiv.className = 'col-lg-4 mb-3';
        colDiv.appendChild(outerDiv);
        div.appendChild(colDiv);
        return progressBar;
    }
    function updateProgressBar(data){
        let progressBar = document.getElementById(data['id']);
        if (progressBar === null){
            // if child progress bar dosentr exists it must be a new one so create it.
            progressBar = addChildProgressBar(data);
        }
        progressBar.style.width = data['progress'];
        progressBar.className = data['classes'];
        data['jobs'].forEach(function(data){
            updateProgressBar(data);
        });
    }
    function progress() {
        fetch('{% url 'worker:job_detail' latest_job.uuid %}', {
            credentials: 'same-origin'
        }).then(response =>{
            if (response.ok){
                return response.json();
            }
        }).then(data =>{
            updateProgressBar(data);
            if (data['completed'] === false){
                setTimeout(progress, 5000) //5 sec
            }
        }).catch(err =>{
            console.log(err)
        })
    };
    progress()
</script>
{% endif %}
{% endblock %}
