{% extends 'kas/layout.html' %}
{% load i18n %}
{% block content %}
    <h1>{{ pretty_job_title }}</h1>
    <form method="POST" class="form-inline needs-validation" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-row">
                {% if 'custom-file-input' in field.field.widget.attrs.class %}
                {# special DOM for file inputs #}
                <div class="col custom-file">
                    {{ form.file }}
                    <label class="custom-file-label" for="{{ form.file.id_for_label }}">{% translate 'Vælg en fil' %}</label>
                </div>
                <script nonce="{{ request.csp_nonce }}">
                    $(".custom-file-input").on("change", function() {
                        var fileName = $(this).val().split("\\").pop();
                        $(this).siblings(".custom-file-label").addClass("selected").text(fileName);
                    });
                </script>
                {% else %}
                <div class="col">
                    <label class="mr-2">{{ field.label }}</label>{{ field }}
                    {% if field.errors %}
                        <small class="invalid-feedback">
                            {% for error in field.errors %}
                                {{ error }}
                            {% endfor %}
                        </small>
                    {% else %}
                        <small class="form-text text-muted ml-2">{{ field.help_text }}.</small>
                    {% endif %}
                </div>
                {% endif %}
            </div>
        {% endfor %}
        <input class="form-control btn btn-success" type="submit" value="{% translate 'Start job' %}">
        <a class="btn btn-primary btn-danger" href="{% url 'worker:job_list' %}" role="button">{% translate 'Annullér'%}</a>
    </form>
{% endblock %}
