{% extends 'kas/layout.html' %}

{% load i18n %}
{% load kas_tags %}
{% block content %}

<a class="btn btn-primary" href="{% url 'worker:job_list' %}">{% trans 'Tilbage til liste' %}</a>

<table class="table">
    <tbody>
    <tr>
        <th>{% trans 'Type' %}</th>
        <td>{{ object.job_type }}</td>
    </tr>
    <tr>
        <th>{% trans 'Status' %}</th>
        <td><span class="btn {{ object.bootstrap_color }}">{{ object.get_status_display }}</span></td>
    </tr>
    {% if object.started_at is not None %}
    <tr>
        <th>{% trans 'Starttid' %}</th>
        <td>{{ object.started_at }}</td>
    </tr>
    {% endif %}
    {% if object.duration is not None %}
    <tr>
        <th>{% trans 'Kørselstid' %}</th>
        <td>{{ object.duration|duration }}</td>
    </tr>
    {% endif %}
    {% if object.status == 'failed' %}
        <tr>
            <th>{% trans 'Fejl' %}</th>
            <td>
                {{ object.traceback }}
            </td>
        </tr>

    {% endif %}
    {% if object.status == 'finished' or object.status == 'failed' %}
    <tr>
        <th>{% trans 'Opsummering' %}</th>
        <td class="job-summary">
            {% if object.job_type_dict.result_template %}
                {% include object.job_type_dict.result_template with result=object.result %}
            {% endif %}
        </td>
    </tr>
    {% elif object.status == 'started' %}
    <tr>
        <th>{% trans 'Fremskridt' %}</th>
        <td>{{ object.pretty_progress }}</td>
    </tr>
    {% endif %}
    </tbody>
</table>
{% endblock %}
