{% extends 'kas/layout.html' %}
{% load static %}
{% load i18n %}
{% block content %}
    <a class="btn btn-success" href="{% url 'worker:job_type_select' %}">{% trans 'Start nyt job' %}</a>

    {% get_current_language as language_code %}
    {% if language_code == 'kl-GL' %}
        {% static 'doc/kl/Manual for system til skat af visse kapitalafkast (KAS).pdf' as manual_url %}
    {% else %}
        {% static 'doc/da/Manual for system til skat af visse kapitalafkast (KAS).pdf' as manual_url %}
    {% endif %}

    {% blocktrans with link=manual_url asvar help_text_jobs %}På denne side oplistes kørende og kørte jobs, med relevant information om hvert job.
        Med knappen "Start nyt job" kan der påbegyndes en ny jobkørsel, som foretager en længerevarende operation på de data der ligger i systemet, som f.eks. autoligning eller oprettelse af selvangivelser.
        Yderligere information kan findes i <a href="{{link}}">Overbliksmanualen</a>{% endblocktrans %}
    {% include 'includes/help_text/question_mark.html' with target_id='help' %}
    {% include 'includes/help_text/collapse.html' with target_id='help' help_text=help_text_jobs %}

    <table class="table table-striped mt-4">
        <thead>
            <tr>
                <th>{% trans 'Job type' %}</th>
                <th>{% trans 'Oprettet af' %}</th>
                <th>{% trans 'Oprettet' %}</th>
                <th>{% trans 'Fremskridt' %}</th>
                <th>{% trans 'Status' %}</th>
            </tr>
        </thead>
        <tbody hx-get="{% url 'worker:joblist_htmx' %}" hx-trigger="load"/>
    </table>
{% endblock %}
