{% load i18n %}
{% load l10n %}
{% load kas_tags %}

<table class="table table-bordered">
    <tr>
        <td>
            {{ pension_company_amount_label }}
            {% translate 'Udfyldes fra R75' as help_text_prefilled %}
            {% include 'includes/help_text/question_mark.html' with target_id='prefilled' right=True %}
            {% include 'includes/help_text/collapse.html' with help_text=help_text_prefilled target_id='prefilled' %}
        </td>
        <td>{{ policy.prefilled_amount|default_if_none:'' }}</td>
    </tr>
    <tr>
        <td>
            {% translate  'Justeret beløb fra pensionsselskab' %}
            {% translate 'Justeret beløb fra pensionsselskab, ændret i forhold til de oprindelige R75 data' as help_text_r75_adjusted %}
            {% include 'includes/help_text/collapse.html' with help_text=help_text_r75_adjusted target_id='adjusted_r75_amount' %}
        </td>
        <td>{{ policy.adjusted_r75_amount|default_if_none:'' }}</td>
    </tr>
    <tr>
        <td>
            {{ self_reported_amount_label }}
            {% translate 'Selvangivet beløb fra borgeren' as help_text_self_reported %}
            {% include 'includes/help_text/question_mark.html' with target_id='self_reported' right=True %}
            {% include 'includes/help_text/collapse.html' with help_text=help_text_self_reported target_id='self_reported' %}
        </td>
        <td>{{ policy.self_reported_amount|default_if_none:'' }}</td>
    </tr>
    <tr>
        <td>
            {% translate  'Ansat beløb' %}
            {% translate 'Beløb angivet af ansat under sagsbehandling eller autoligning' as help_text_assessed %}
            {% include 'includes/help_text/collapse.html' with help_text=help_text_assessed target_id='assessed_amount' %}
        </td>
        <td>{{ policy.assessed_amount|default_if_none:'' }}</td>
    </tr>
    <tr>
        <td>{% translate 'Kapitalafkast' %}</td>
        <th>{{ policy.get_assessed_amount }}</th>
    </tr>
    <tr>
        <td>
            {% blocktrans with taxable_days=calculation.taxable_days_in_year total_days=calculation.days_in_year factor=calculation.tax_days_adjust_factor|percent:1 %}
                Justeret for antal skattepligtsdage i året ({{taxable_days}} af {{total_days}} dage = {{ factor }})
            {% endblocktrans %}
            {% blocktrans asvar help_text_year_adjusted with amount=calculation.initial_amount year=policy.year taxable_days=calculation.taxable_days_in_year days=calculation.days_in_year %}
                Beløb for hele året ({{ amount }}) &times; skattepligtsdage ({{ taxable_days }}) / dage i {{ year }} ({{ days }})
            {% endblocktrans %}
            {% include 'includes/help_text/question_mark.html' with target_id='year_adjusted' right=True %}
            {% include 'includes/help_text/collapse.html' with help_text=help_text_year_adjusted target_id='year_adjusted' %}
        </td>
        <td>{{ calculation.year_adjusted_amount }}</td>
    </tr>

    {% if calculation.year_adjusted_amount <= 0 %}
    <tr>
        <td>
            {% blocktrans %}Negativt afkast til fremførsel{% endblocktrans %}
            {% blocktrans asvar help_text_negative with amount=calculation.year_adjusted_amount|negative %}
            {{ amount }} kr fremføres til modregning i fremtidige opgørelser
            {% endblocktrans %}
            {% include 'includes/help_text/question_mark.html' with target_id='deduction_future' right=True %}
            {% include 'includes/help_text/collapse.html' with help_text=help_text_negative target_id='deduction_future' %}
        </td>
        <th>{{ calculation.year_adjusted_amount|negative }}</th>
    </tr>
    {% else %}


    {% for deduction in policy.used_from %}
    <tr>
        <td>
            {% blocktrans with year=deduction.from_year %}Modregning af tidligere negativt kapitalafkast ({{year}}){% endblocktrans %}
            {% blocktrans asvar help_text_deduction with year=deduction.from_year amount=deduction.transferred_negative_payout|negative %}
            Der er modregnes kr {{ amount }} i negativt kapitalafkast fra {{ year }}
            {% endblocktrans %}
            {% include 'includes/help_text/question_mark.html' with target_id='deduction'|append:forloop.counter right=True %}
            {% include 'includes/help_text/collapse.html' with help_text=help_text_deduction target_id='deduction'|append:forloop.counter %}
        </td>
        <td>{{ deduction.transferred_negative_payout|negative }}</td>
    </tr>
    {% empty %}
    <tr>
        <td>
            {% blocktrans %}Modregning af tidligere negativt kapitalafkast{% endblocktrans %}
            {% blocktrans asvar help_text_deduction %}
            Der er ikke noget tilgængeligt negativt kapitalafkast til modregning
            {% endblocktrans %}
            {% include 'includes/help_text/question_mark.html' with target_id='deduction0' right=True %}
            {% include 'includes/help_text/collapse.html' with help_text=help_text_deduction target_id='deduction0' %}
        </td>
        <td>0</td>
    </tr>
    {% endfor %}

    <tr>
        <td>
            {% translate 'Beskatningsgrundlag (kapitalafkast efter modregning)' %}
            {% blocktrans asvar help_text_taxable with amount=calculation.year_adjusted_amount return=calculation.used_negative_return %}
                Beløb justeret for dage ({{ amount }}) - anvendt negativt afkast ({{ return }})
            {% endblocktrans %}
            {% include 'includes/help_text/question_mark.html' with target_id='taxable_amount' right=True %}
            {% include 'includes/help_text/collapse.html' with help_text=help_text_taxable target_id='taxable_amount' %}
        </td>
        <td>{{ calculation.taxable_amount }}</td>
    </tr>
    <tr>
        <td>
            {% translate 'Kapitalafkastskat (15,3% af beskatningsgrundlag)' %}
            {% blocktrans asvar help_text_full_tax with amount=calculation.taxable_amount %}
                15,3% af beskatningsgrundlag efter justering for negativt afkast (0,153 &times; {{ amount }})
            {% endblocktrans %}
            {% include 'includes/help_text/question_mark.html' with target_id='full_tax' right=True %}
            {% include 'includes/help_text/collapse.html' with help_text=help_text_full_tax target_id='full_tax' %}
        </td>
        <td>{{ calculation.full_tax }}</td>
    </tr>
    <tr>
        <td>{% translate 'Nedslag for betalt skat i udlandet' %}</td>
        <td>{{ calculation.foreign_paid_amount|negative }}</td>
    </tr>
    <tr>
        <td>
            {% translate 'Kapitalafkastskat' %}
            {% blocktrans asvar help_text_with_deductions with tax=calculation.full_tax paid=calculation.foreign_paid_amount %}
                Skat før fraregning af skat betalt i udlandet ({{ tax }}) - Skat betalt i udlandet ({{ paid }})
            {% endblocktrans %}
            {% include 'includes/help_text/question_mark.html' with target_id='tax_with_deductions' right=True %}
            {% include 'includes/help_text/collapse.html' with help_text=help_text_with_deductions target_id='tax_with_deductions' %}
        </td>
        <th>{{ calculation.tax_with_deductions }}</th>
    </tr>
    {% endif %}
</table>
