{% load i18n %}
<table class="table table-bordered table-sm">
    <thead>
    <tr>
        <th>{% translate 'År' %}</th>
        <th>{% translate 'Pensionsselskab' %}</th>
        <th>{% translate 'Police nr.' %}</th>
        <th>{% translate 'Slutlignet' %}</th>
        <th>{% translate 'Kræver efterbehandling' %}</th>
        <th>{% translate 'Næste behandlingsdato'%}</th>
        <th class="text-right">{% translate 'Fortrykt beløb'%}</th>
        <th class="text-right">{% translate 'Admin-ændret R75 beløb'%}</th>
        <th class="text-right">{% translate 'R75 beløb justeret for skattedage'%}</th>
        <th class="text-right">{% translate 'Selvangivet beløb'%}</th>
        <th class="text-right">{% translate 'Ansat beløb'%}</th>
        <th class="text-right">{% translate 'Anvendt beløb'%}</th>
        <th class="text-right">{% translate 'Selvangivet forskel'%}</th>
    </tr>
    </thead>
    <tbody>
    {% for policy in policies %}
        <tr{% if not policy.active %} class="text-muted"{% endif %}>
            <td>{{ policy.person_tax_year.year }}</td>
            <td>{{ policy.pension_company.name }}</td>
            <td><a href="{% url 'kas:policy_detail' policy.pk %}">{{ policy.policy_number }}</a></td>
            <td>{% if policy.slutlignet %}<span>{% translate 'Ja' %}</span>{% else %}<span>{% translate 'Nej' %}</span>{% endif %}</td>
            <td>{% if policy.efterbehandling %}<span>{% translate 'Ja' %}</span>{% else %}<span>{% translate 'Nej' %}</span>{% endif %}</td>
            <td>{{ policy.next_processing_date|date:'SHORT_DATE_FORMAT'|default_if_none:"" }}</td>
            <td class="text-right">{{ policy.prefilled_amount|default_if_none:"" }}</td>
            <td class="text-right">{{ policy.prefilled_amount_edited|default_if_none:"" }}</td>
            <td class="text-right">{{ policy.prefilled_adjusted_amount|default_if_none:"" }}</td>
            <td class="text-right">{{ policy.self_reported_amount|default_if_none:"" }}</td>
            <td class="text-right">{{ policy.assessed_amount|default_if_none:"" }}</td>
            <td class="text-right"><strong>{{ policy.get_base_calculation_amount|default_if_none:"" }}</strong></td>
            <td class="text-right">{% if policy.reported_difference %}{{ policy.reported_difference }} ({{ policy.reported_difference_pct }} %){% endif %}</td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="12">{% translate 'Ingen policer fundet' %}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
