{% load i18n %}
<table class="table table-bordered table-sm">
    <thead>
    <tr>
        <th>{% trans 'År' %}</th>
        <th>{% trans 'Pensionsselskab' %}</th>
        <th>{% trans 'Police nr.' %}</th>
    </tr>
    </thead>
    <tbody>
    {% for policy in policies %}
        <tr>
            <td>{{ policy.person_tax_year.year }}</td>
            <td>{{ policy.pension_company.name }}</td>
            <td><a href="{% url 'kas:policy_detail' policy.pk %}">{{ policy.policy_number }}</a></td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="4">{% trans 'Ingen policer fundet' %}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
