{% load i18n %}
<table class="table table-bordered table-sm">
    <thead>
    <tr>
        <th class="w-10 text-center">{% translate 'Oprettet' %}</th>
        <th class="w-10 text-center">{% translate 'Sendt' %}</th>
        <th class="text-center">{% translate 'Emne i E-boks' %}</th>
        <th class="w-5 text-center">{% translate 'Status' %}</th>
        <th class="w-10 text-center">{% translate 'Afsendelses status' %}</th>
        <th class="w-5 text-center">{% translate 'Prisme 10Q beløb' %}</th>
        <th class="w-25 text-center">{% translate 'Handlinger' %}</th>
    </tr>
    </thead>
    <tbody>
    {% for settlement in settlements %}
        <tr {% if settlement.invalid %} class="text-muted"{% endif %}>
            <td class="text-center">{{ settlement.created_at|date:"SHORT_DATETIME_FORMAT" }}</td>
            <td class="text-center">{{ settlement.send_at|date:"SHORT_DATETIME_FORMAT" }}</td>
            <td>{{ settlement.title }}</td>
            <td class="text-center">{% if settlement.invalid %}{% translate 'Ugyldig'%}{% else %}{{ settlement.get_status_display }}{% endif %}</td>
            <td class="text-center">{{ settlement.delivery_status }}</td>
            <td>
                {% with transaction=settlement.get_transaction %}
                {% if transaction %}
                    <a href="{% url 'prisme:batch' pk=transaction.prisme10q_batch.pk %}">{{ transaction.amount }} ({{ transaction.get_10q_status_display }})</a>
                {% endif %}
                {% endwith %}
            </td>
            <td>
                {% if settlement.pdf %}
                <a class="btn btn-primary" href="{% url 'kas:final_settlement_download' settlement.uuid %}">
                    {% translate 'Vis' %}
                </a>
                {% endif %}
                {% if settlement.pseudo %}
                <a class="btn btn-primary" href="{% url 'kas:update-pseudo-final-settlement' settlement.uuid %}">
                    {% translate 'Upload PDF' %}
                </a>
                {% endif %}
                {% if perms.kas.change_finalsettlement %}
                    <button {% if settlement.invalid or settlement.status != 'created' %}disabled {% endif %} data-url="{% url 'kas:invalid-final-settlement' settlement.uuid %}" type="button" class="btn btn-danger ml-3" data-toggle="modal" data-target="#invalidFinalSettlementModal">
                        {% translate 'Markér som ugyldig' %}
                    </button>
                {% endif %}
                {% if perms.kas.change_finalsettlement and settlement.allow_dispatch is True and settlement.person_tax_year.tax_year.year_part == 'genoptagelsesperiode' %}
                <button {% if settlement.invalid %}disabled {% endif %} data-url="{% url 'kas:dispatch-final-settlement' settlement.uuid %}" type="button" class="btn btn-success ml-3" data-toggle="modal" data-target="#finalSettlementModal">
                    {% translate 'Afsend slutopgørelse' %}
                </button>
                {% endif %}
            </td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="7">{% translate 'Ingen slutopgørelser fundet' %}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>


<div class="modal fade" id="invalidFinalSettlementModal" tabindex="-1" aria-labelledby="invalidFinalSettlementModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="invalidFinalSettlementModalLabel">{% translate 'Markér slutopgørelse som ugyldig' %}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% translate 'Her du sikker du vil markere slutopgørelse som ugyldig?' %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{% translate 'Luk' %}</button>
                <form style="display: inline" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">{% translate 'Ja' %}</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="finalSettlementModal" tabindex="-1" aria-labelledby="finalSettlementModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="finalSettlementModalLabel">{% if person_tax_year.latest_processing_date %}<i style="color:red" class="fa fa-exclamation-triangle" aria-hidden="true"></i>{% endif %} {% translate 'Afsend slutopgørelse' %}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST">
                {% csrf_token %}
                <div class="modal-body form-row">
                    {% if person_tax_year.latest_processing_date %}
                        <h5 class="modal-title" id="finalSettlementModalLabel">{% blocktrans with date=person_tax_year.latest_processing_date|date:'SHORT_DATE_FORMAT'%} Afsend slutopgørelse og ignorer tidsfristen d.{{ date }}{% endblocktrans %}</h5>
                    {% endif %}
                    <label class="mt-3">{% translate 'Eboks titel' %}</label>
                    <input class="form-control" type="text" name="title" autocomplete="off" required>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{% translate 'Luk' %}</button>
                    <button type="submit" class="btn btn-success">{% translate 'Afsend slutopgørelse' %}</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script nonce="{{ request.csp_nonce }}">
    $('div.modal').on('show.bs.modal', function (event) {
        //used for both modals
        const button = $(event.relatedTarget);
        const url = button.data('url');
        $(this).find('form').attr('action', url);
    });
</script>
