[run]
relative_files = True
source = .
omit =
    manage.py
    project/*
    */admin.py
    */urls.py
    */tests.py
    */__init__.py
    */migrations/*
    */tests/*
    */management/commands/create_dummy_*.py
    */mockupdata.py
    */management/commands/wait_for_db.py
    */management/commands/devrqworker.py  # No need to test dev-only functionality.
parallel = true
concurrency=multiprocessing