black
coverage
cx_Oracle
django
djangorestframework
django-csp
django-extensions
django-filter
django-ipware
django-simple-history
django-split-settings
django-watchman
django_rq
fakeredis
fpdf2
gunicorn
lxml
more_itertools
openpyxl
pandas
paramiko
prometheus_client
psycopg2
pydotplus
requests
rq
setuptools
tblib
tenQ @ git+https://github.com/magenta-aps/10Q.git@0.8.0
whitenoise
